workflows/1 AVIA_Cuadro.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-27T17:59:34.508Z",
    "createdAt": "2025-11-27T17:59:34.508Z",
    "versionId": "4afb6b4c-0a08-4149-9d08-ae6f39c22651",
    "workflowId": "yY4criK2rs0nHaaQ",
    "nodes": [
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "  {\n    \"tipo\": \"cuadro\",\n    \"fileName\": \"cuadro_de_caracteristicas_del_contrato.pdf\",\n    \"text\": \"CUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN Y\\nPOSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS AUDIOVISUALES\\nPROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN Y POSTPRODUCCIÓN DE VIDEOS\\nCORTOS PARA LA PROMOCIÓN Y DIFUSIÓN DE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nContrato sujeto a regulación armonizada: Sí | X No\\nExpediente: X Ordinario | Urgente | Emergencia | Anticipada\\nProcedimiento de adjudicación: Abierto no sujeto a regulación armonizada con pluralidad de criterios\\nA. PODER ADJUDICADOR\\n1- Poder adjudicador: Fundación Canal de Isabel II\\n2- Órgano de contratación: Directora Gerente de la Fundación Canal de Isabel II\\n3- Responsable del contrato: \\nDirectora de Comunicación y Marketing de la Fundación Canal de\\nIsabel II\\n4-Dirección del órgano de\\ncontratación/teléfono/email:\\nMateo Inurria, 2 28036 – Madrid. Tfno. +34915451511\\nCorreo electrónico: licitaciones@fundacioncanal.es\\n5- Perfil de contratante: https://contratos-publicos.comunidad.madrid/\\nB. OBJETO DEL CONTRATO\\n1- Objeto del contrato:\\nEl objeto del contrato son los servicios audiovisuales profesionales conforme a las necesidades de la Fundación consistentes\\nen la creación (preproducción, producción y postproducción) de vídeos cortos y de duración media sobre determinadas\\nactividades de la Fundación, concibiendo las piezas resultantes específicamente para su difusión, en cada caso, a través de\\nlos diferentes canales y soportes de comunicación que utiliza la Fundación (página web, redes sociales, boletín de actividades,\\netc.).\\n2- Necesidades a satisfacer:\\n- Preproducción (guionización y planificación), producción (logística y grabación) y postproducción (edición de vídeo y\\naudio) de materiales audiovisuales de determinadas actividades de la Fundación, propias o en colaboración con otras\\ninstituciones.\\n- Entrega y clasificación en remoto de los trabajos en el archivo multimedia de la Fundación siguiendo el nomenclátor de la\\nentidad.\\n3- Tipo de contrato: Servicios\\nServicio regulado en el Anexo IV de la LCSP: Sí | X No\\nContrato Privado, según el art. 26.b) LCSP\\n4- División en lotes: Sí | X No\\nDescripción de lotes: n/a\\nLimitación a la participación/adjudicación: n/a\\n5- CPV, NACE y Categoría:\\nDescripción CPV: 92110000-5\\nCPV complementarios: 92111000-2, 92111200-4\\n6- Admisibilidad de variantes: Si | X No\\nC. PRESUPUESTO BASE DE LA LICITACIÓN\\n1- Presupuesto de licitación: 35.000,00 € (IVA excluido) IVA: 7.350 € Total (en número): 42.350 € (IVA Incluido)\\nTotal (en letra): Cuarenta y dos mil trescientos cincuenta euros (IVA incluido)\\nEl presupuesto de licitación indicado responde al siguiente desglose:\\n- Importe base presupuesto de licitación: ………… 29.411,76 €\\n- Costes indirectos (13%): ………………………………….. 3.823,53 €\\n- Beneficio industrial (6%): ………………………………… 1.761,71 €\\n- Importe total presupuesto de licitación: ………… 35.000,00 €\\nDicho presupuesto es un presupuesto máximo que se ha calculado tomando como referencia, entre otros aspectos, los\\nservicios audiovisuales similares que se han prestado durante el año 2023 para cubrir las actividades desarrolladas por la\\nPágina 2 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nFundación en dicha anualidad y aplicando a los mismos el precio unitario máximo correspondiente de los reflejados en\\nel siguiente desglose:\\nBLOQUES TIPO DE TRABAJO PRECIO UNITARIO MÁXIMO (SIN IVA)\\n1 \\nGrabación media jornada día\\nlaborable \\n500,00 €\\n2 \\nGrabación media jornada fin de\\nsemana o festivo \\n600,00 €\\n3 \\nGrabación una jornada día\\nlaborable \\n800,00 €\\n4 \\nGrabación una jornada fin de\\nsemana o festivo \\n900,00 €\\n5 \\nElaboración de vídeo corto\\n(<1m) \\n150,00 €\\n6 \\nElaboración de vídeo de 1 hasta\\n5' \\n250,00 €\\n7 \\nCompactado para televisión o\\narchivo (5-15 min.) \\n200,00 €\\n8 \\nMaking off (incluye grabación) \\n3.000,00 €\\nEl desglose anterior se incluye a efectos de establecer unos valores máximos para cada uno de los precios unitarios\\nseñalados, pudiendo el ofertante decidir la cuantía específica para cada uno de ellos. En todos los casos el licitador deberá\\ncalcular que los precios unitarios incluirán los trabajos de grabación y edición y cualesquiera otros gastos que lleve\\nasociado el producto final entregado, incluyendo, con carácter meramente enunciativo y no limitativo, los gastos de\\ndesplazamiento, estancia y manutención, en caso de incurrirse en ellos, así como los concernientes a la obtención y\\ncesión de derechos de explotación de propiedad intelectual. El licitador podrá consultar en la cláusula 3 del Pliego de\\nprescripciones técnicas las características de los vídeos finales por cada una de las posibles actividades.\\nLas ofertas que superen el precio unitario máximo establecido para cualquiera de los precios unitarios previos o para\\ntodos ellos, no serán tenidas en cuenta en el presente procedimiento de licitación.\\nLos precios unitarios propuestos por el adjudicatario serán vinculantes para éste aun cuando la Fundación no\\ncomprometa un número mínimo de trabajos y, por ende, una facturación mínima anual; siendo el presupuesto base de\\nla licitación el Alcance Máximo referido en el apartado 2 siguiente.\\n2- Alcance:\\n- Alcance Mínimo: la Fundación no compromete un alcance mínimo.\\n- Alcance Máximo: la Fundación se reserva el derecho a solicitar al adjudicatario los servicios objeto de la presente\\nlicitación hasta un máximo de 35.000 Euros (IVA no incluido) por cada anualidad de vigencia del mismo; importe\\nque resultará de aplicar en cada caso los precios unitarios ofertados por el licitador que resulten de aplicación en\\nfunción de los trabajos encomendados. Dichos precios unitarios deberán permanecer inalterados durante toda\\nla vigencia del contrato (prórrogas incluidas, en su caso) y se entenderá que cubren la adquisición y cesión de\\nderechos de explotación sobre los trabajos efectuados, así como cualquier gasto que lleve asociado el producto\\nfinal entregado, incluyendo, con carácter enunciativo y no limitativo, los gastos de desplazamiento al lugar en el\\nque deben realizarse los servicios y los gastos de estancia y manutención en caso de incurrir en los mismos. En\\ndefinitiva, el presupuesto base de licitación, que coincide con el alcance máximo indicado, constituirá el precio\\ndel contrato.\\n3- Valor estimado: 175.000,00 € (IVA excluido)\\nEl valor estimado del contrato comprende el presupuesto base de la licitación considerando que se formalicen todas las\\nprórrogas previstas.\\n4- Sistema de determinación del precio:\\nTanto alzado | Tanto alzado con precio cerrado (sin variación aún con modificaciones)\\n| X Precios unitarios | Tarifas | Otro sistema\\n5- Anualidades (IVA excluido):\\na. 2024-2025: 35.000,00 €\\nPágina 3 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nb. 2025-2026: 35.000,00 €\\nc. 2026-2027: 35.000,00 €\\nd. 2027-2028: 35.000,00 €\\ne. 2028-2029: 35.000,00 €\\n6- Revisión de precios: Si | X No\\n7- Financiación con fondos externos:\\nSi | No X\\nTipo de fondo: ----\\n% de cofinanciación: ----\\n8- Forma de pago:\\nLa facturación de los trabajos a la Fundación Canal se llevará a cabo del siguiente modo: el adjudicatario facturará\\ncon periodicidad mensual los trabajos ejecutados y entregados durante el mes inmediatamente anterior aplicando\\nlos precios unitarios ofertados que correspondan a cada trabajo. La factura deberá identificar todos los trabajos\\nefectuados y facturados en virtud de la misma, así como la referencia del contrato (07/2024).\\nEl pago de las facturas se efectuará mediante transferencia bancaria, con un vencimiento de treinta días desde su\\nrecepción, previa verificación de que los servicios facturados y los prestados se corresponden y que éstos han sido\\naceptados por el Responsable del contrato.\\n9- Forma de constatación de la correcta prestación del servicio y de su recepción:\\nConformidad del Responsable del contrato designado por el órgano de contratación.\\nD. PLAZO Y LUGAR DE EJECUCIÓN DEL CONTRATO\\n1- Plazo de ejecución:\\n1. Duración inicial: 12 meses a contar desde la formalización del contrato.\\n2. Duración máxima: 60 meses\\n3. Plazos parciales: los marcados en el Pliego de prescripciones técnicas.\\n4. Fecha prevista de inicio: a la formalización del contrato.\\n5. Contrato de duración plurianual\\n2- Programa de trabajo: según lo previsto en el Pliego de prescripciones técnicas.\\n3- Prórroga: la duración inicial del contrato, 12 meses, podrá ser prorrogada por periodos sucesivos de igual duración hasta\\nun máximo de 60 meses (cuatro posibles prórrogas de 12 meses cada una).\\nLas prórrogas serán obligatorias para el adjudicatario, siendo comunicadas a éste con al menos dos meses de antelación a la\\nfinalización del plazo inicial del contrato o de la prórroga en curso.\\n4- Plazo de garantía: en atención a la naturaleza de los servicios objeto de la licitación, no es necesario prever un periodo de\\ngarantía que se extienda con posterioridad a la finalización del contrato; sin perjuicio de la obligación del adjudicatario de\\nresponder y mantener indemne a la Fundación en caso de que un tercero pudiera interponer una reclamación frente a ésta\\nalegando que el uso de cualquiera de las creatividades, diseños, textos, imágenes, gráficos o entregables de cualquier\\nnaturaleza puestos a disposición de la Fundación Canal con causa en el contrato vulnera derechos de dicho tercero, ya sean\\nderechos de imagen, propiedad intelectual, industrial o de otra naturaleza; aun cuando dicha reclamación sea interpuesta\\ncon posterioridad a la terminación del contrato por cualquier causa.\\nEste compromiso se extenderá hasta la prescripción de las acciones respecto de las cuales el adjudicatario asume el\\ncompromiso de indemnidad previo.\\n5- Lugar de ejecución del contrato: las grabaciones se realizarán en la ubicación en la que se celebren las actividades que\\nhayan de ser grabadas (Comunidad de Madrid) y el resto de los trabajos que comprende el servicio desde la ubicación propia\\ndel adjudicatario.\\nE. GARANTÍA\\nGarantía provisional: Si | X No Importe: Garantía definitiva: Si | X No Importe: ----\\nDe conformidad con lo dispuesto en el art. 107 LCSP y en\\nconsideración a la naturaleza de los servicios, que implica un\\nescaso riesgo derivado directamente de la ejecución de los\\ntrabajos objeto de la presente licitación, se acuerda no requerir la\\nconstitución de garantía definitiva a fin de promover una mayor\\nconcurrencia y en aras de obtener un precio de adjudicación más\\ncompetitivo al reducir los costes financieros asociados al servicio.\\nPágina 4 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nF. SOLVENCIA ECONÓMICA O FINANCIERA\\nLa solvencia económica y financiera exigida y su sistema de acreditación serán los detallados a continuación:\\nVolumen anual de negocio referido al mejor ejercicio dentro de los tres últimos disponibles, en función de las fechas de\\nconstitución o de inicio de actividades del empresario y de presentación de las ofertas por importe igual o superior a\\n35.000,00 €.\\nEl volumen anual de negocios del licitador se acreditará por medio de sus cuentas anuales aprobadas o depositadas en el\\nRegistro Mercantil, si el empresario estuviera inscrito en dicho registro, y en caso contario por las depositadas en el registro\\noficial en que deba estar inscrito. Los empresarios individuales no inscritos en el Registro Mercantil acreditarán su volumen\\nanual de negocios mediante sus libros de inventarios y cuentas anuales legalizados por el Registro Mercantil.\\nAdicionalmente, se aportará una declaración responsable del empresario, sellada y firmada por el representante de la\\nempresa, sobre el volumen anual de negocios.\\nEn aplicación de lo establecido en el art. 86.1 de la Ley de Contratos del Sector Público, si el licitador no estuviera en\\ncondiciones de acreditar su solvencia económica o financiera aportando los documentos mencionados previamente, podrá\\nhacerlo por cualquier otro medio o documento que considere apropiado (si bien la suficiencia del mismo a efectos de\\nacreditación de la solvencia quedará a criterio del órgano de contratación).\\nG. SOLVENCIA TÉCNICA Y PROFESIONAL\\nLa solvencia técnica y profesional exigida para la correcta ejecución de este contrato y su sistema de acreditación se\\ncorresponderán con los indicados a continuación:\\n1. De la entidad licitadora:\\na. Una relación de los principales servicios o trabajos realizados por el licitador de igual o similar naturaleza a los que\\nson objeto de la presente contratación, esto es, realización de videos cortos, incluyendo preproducción, producción\\ny postproducción, que sirvan para dinamizar en redes sociales (incluido, pero no principal, el canal de YouTube) y\\ncuya temática verse sobre actividades culturales o medioambientales; por un importe acumulado de al menos 35.000\\neuros (IVA excluido) y realizados como máximo en los últimos tres años; en la que se indique la naturaleza de la\\nprestación, el importe, las fechas de inicio y fin de la prestación y el destinatario de los mismos.\\nLos servicios o trabajos efectuados se acreditarán por el adjudicatario mediante certificados expedidos o visados por\\nel órgano competente, cuando el destinatario sea una entidad del sector público; cuando el destinatario sea un sujeto\\nprivado, mediante un certificado expedido por este o, a falta de este certificado, mediante una declaración del\\nempresario acompañado de los documentos obrantes en poder del mismo que acrediten la realización de la\\nprestación. Los certificados emitidos por las entidades receptoras de los servicios ya sean éstas públicas o privadas,\\nhabrán de contener la información indicada en el párrafo previo para cada uno de los servicios realizados.\\nb. Declaración sobre el equipamiento técnico del que se dispondrá para la ejecución de los trabajos teniendo en cuenta\\nque habrá trabajos que deberán realizarse en condiciones de baja intensidad lumínica siendo, por tanto,\\nimprescindible contar con un equipo profesional compatible; así como también con fuentes de iluminación led con\\nbajas emisiones de rayos ultravioletas, orientables y regulables en intensidad que permitan la grabación de las obras\\nde arte sin dañarlas. Igualmente, declaración sobre el cumplimiento de las características técnicas de las cámaras y\\nresto de equipamiento que permita cumplir con los requisitos de las grabaciones especificados en el apartado “2.\\nOBJETO Y DESCRIPCIÓN DEL SERVICIO” del Pliego de prescripciones técnicas.\\nLa suficiencia del equipamiento técnico se acreditará por el adjudicatario mediante declaración responsable en la\\nque se detalle el equipamiento técnico del que se dispone y se declare que el mismo estará disponible durante toda\\nla vigencia del contrato para la prestación de los servicios objeto de mismo y es suficiente para que dicha prestación\\nse realice con la mayor calidad teniendo en cuenta lo previsto en los pliegos y, en particular, los condicionantes\\nindicados previamente.\\n2. Del profesional que se asigne como responsable de los trabajos: el licitador deberá adscribir a la ejecución del contrato\\nun responsable de los trabajos que pertenezca a su plantilla -en consonancia con los motivos que a este respecto se\\nrecogen en el apartado O del presente documento- y cuente con formación específica en la Gestión de proyectos\\naudiovisuales, producción y edición de vídeo y/o la elaboración de contenido audiovisual en plataformas digitales, y con\\nmás de cinco (5) años de experiencia en trabajos análogos a los descritos en el objeto del contrato, esto es, elaboración\\nPágina 5 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nde audiovisuales; con el fin de aglutinar en un único responsable el conocimiento y experiencia necesarios para la\\ncoordinación de los distintos trabajos que requiere el desarrollo del producto final objeto del servicio (preproducción,\\nproducción y postproducción). En caso de que el licitador fuera un profesional independiente, deberá ser él quien cuente\\ncon la formación y experiencia previamente indicada y ejercer, por tanto, directamente y por sí mismo la labor de\\nresponsable de los trabajos en caso de resultar adjudicatario del contrato.\\nPara acreditar la formación y experiencia del responsable de los trabajos, el adjudicatario deberá presentar su\\ncurrículum, el cual deberá permitir la identificación del titular mediante nombre y apellidos y acreditar la formación y\\nexperiencia previamente requerida. Asimismo, deberá aportar contrato de trabajo, TC o documentación equivalente\\nque permita acreditar que el responsable de los trabajos forma parte de la plantilla del licitador. Los licitadores deberán\\ncontar con los consentimientos necesarios para facilitar datos de empleados o terceros a la Fundación para dar\\ncumplimiento a lo dispuesto en los pliegos.\\nLas empresas de nueva creación (antigüedad inferior a cinco años) quedarán eximidas de acreditar la solvencia en los términos\\nindicados en el apartado G.1.a) anterior, si bien sí tendrán que acreditar su solvencia técnica y profesional mediante la\\naportación de la información indicada en los apartados G.1.b) y G.2 previos.\\nH. DOCUMENTACIÓN QUE DEBEN PRESENTAR LOS LICITADORES\\nEl licitador deberá presentar la documentación consignada a continuación en cada uno de los sobres indicados.\\n1- Sobre Nº 1: la señalada en la cláusula 8 del Pliego de condiciones reguladoras:\\na) Identificación de la persona individual, empresario, uniones o agrupaciones de empresas, según ANEXO I.\\nb) Declaración responsable del licitador, obligatoriamente, con el documento europeo único de contratación (DEUC),\\nconforme a las indicaciones del ANEXO II.\\nSerá necesario utilizar el modelo de DEUC simplificado que se ha publicado junto con los pliegos que rigen la presente\\nlicitación.\\nc) En caso de constituir una unión temporal de empresarios (UTE) o acreditar la solvencia con medios externos,\\ndeberá cumplimentarse tal extremo en el DEUC que aporte el licitador concurrente, así como cumplimentarse y\\npresentarse un DEUC por cada uno de los miembros de la UTE, y, en su caso, por cada una de las entidades cuya\\nsolvencia se integrase. En el caso de acudirse a la figura de la UTE, deberá aportarse compromiso de constitución\\nde la UTE en el que se indicarán los nombres y circunstancias de los que la constituyan y la participación de cada\\nuno, así como que asumen el compromiso de constituirse formalmente en unión temporal en caso de resultar\\nadjudicatarios del contrato y responder solidariamente, todos los integrantes de la UTE, por las responsabilidades\\nque se pudieran derivar del contrato frente a la Fundación.\\nd) En caso de subcontratación, el licitador deberá presentar una relación de los subcontratistas indicando la parte\\ndel contrato que se pretende subcontratar y el nombre o el perfil empresarial de los subcontratistas; y aportar un\\ndocumento que demuestre la existencia de un compromiso formal con los mismos para la ejecución del contrato.\\nEn el caso de que el licitador recurra a la capacidad de la/s empresa/s subcontratadas para acreditar la solvencia\\nrequerida en los apartados F o G del Cuadro de características del contrato, cada subcontratista deberá presentar\\nuna declaración responsable, obligatoriamente, con el documento único de contratación (DEUC).\\ne) En su caso, declaración de confidencialidad en los términos indicados en la cláusula 7 del Pliego de condiciones\\nreguladoras.\\n2- Sobre Nº 2: de conformidad con lo establecido en el apartado K.1.(B) “Criterios sujetos a un juicio de valor” del presente\\ndocumento y con el Pliego de prescripciones técnicas, en este sobre se incluirá la documentación de índole técnica que\\naporte el licitador a efectos de valoración de la oferta técnica.\\nLa proposición relativa a los criterios sujetos a un juicio de valor (propuesta técnica) a presentar consistirá en una selección\\nde un mínimo de 5 y un máximo de 10 trabajos realizados por la persona que el licitador, en caso de resultar adjudicatario,\\nvaya a designar como responsable de los trabajos (y al que se alude en el apartado G.2 anterior) y que, por tanto, participará\\nen la elaboración de aquéllos que se le encomienden con causa en el presente contrato; trabajos que han de cumplir los\\nrequisitos detallados más abajo a fin de que puedan ser considerados trabajos análogos a los que se licitan.\\nEn caso de que se aportaran menos de 5 trabajos, se otorgarán 0 puntos a la valoración de la propuesta técnica por considerar\\nque no se ha aportado un número suficiente de trabajos a efectos de poder evaluar los distintos aspectos detallados en el\\nPágina 6 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\napartado K.1.(B) siguiente; (ii) si se aportaran más de 10, se valorarán sólo los 10 primeros trabajos según su orden de\\naparición en la propuesta técnica y (iii) dentro del cómputo de mínimo de 5 y máximo de 10 trabajos SOLO se considerarán\\naquellos trabajos que cumplan los requisitos para ser considerados como trabajos análogos, según descripción de los mismos\\nrecogida en el párrafo siguiente.\\nLos trabajos presentados deberán cumplir los tres requisitos siguientes para considerarse análogos y, por tanto, ser objeto\\nde valoración:\\n(i) tener entre 20 segundos y 5 minutos de duración;\\n(ii) versar sobre actividades culturales o medioambientales equivalentes a las que lleva a cabo la Fundación y que han sido\\ndescritas en el apartado 3 del Pliego de prescripciones técnicas (conferencias, conciertos, exposiciones, talleres, visitas\\nguiadas…etc.); y\\n(iii) haber sido concebidos para ser publicados en redes sociales con el fin de dinamizar las actividades objeto de cada uno\\nde ellos.\\nNo se tendrán en consideración a efectos de valoración ni, por tanto, a efectos de cómputo del número mínimo/máximo de\\ntrabajos a aportar: (i) las grabaciones completas (brutos) ni las piezas que no alcancen los 20 segundos o excedan de los 5\\nminutos; ni (ii) las piezas cuya temática no sea cultural o medioambiental ni tengan por objeto actividades equivalentes a las\\ndesarrolladas por la Fundación ni (iii) las piezas cuyo objeto/destino no sea la dinamización de las actividades en redes sociales\\nni (iv) aquellas en las que no haya participado la persona que vaya a designarse como responsable de los trabajos.\\nEn definitiva, en aras a lograr la mejor valoración posible, los licitadores deberán hacer un esfuerzo para elaborar la oferta\\nteniendo en cuenta que únicamente se valorarán trabajos que cumplan los requisitos previos, esto es, duración del trabajo,\\ntemática (actividades culturales o medioambientales a las que desarrolla habitualmente la Fundación y que han sido\\ndesglosadas en el apartado 3 del Pliego de prescripciones técnicas), concebidos para ser publicados en redes sociales a fin\\nde dinamizar las actividades y haber sido creados con la participación del responsable de los trabajos; debiendo darse estos\\ncuatro (4) requisitos de forma simultánea en cada trabajo aportado para que sean objeto de valoración. Ello supone que a\\nefectos del cálculo de los trabajos requeridos (mínimo de 5 y máximo de 10) sólo se computarán los que cumplan TODOS\\nlos requisitos exigidos previamente para entender que se trata de trabajos análogos.\\nIgualmente, se deberá tener presente que las valoraciones se harán de acuerdo con los criterios destacados en el apartado\\nK.1.(B) siguiente. Por tanto, los trabajos deberán seleccionarse considerando los criterios desglosados en dicho apartado\\nK.1.(B).\\nLas propuestas técnicas presentadas deberán obtener una puntuación mínima de 34 puntos en la valoración de criterios\\nsujetos a juicio de valor establecidos en el apartado k.1.(B) del presente Cuadro de características del contrato. La\\npresentación de una propuesta técnica que no alcance el mínimo exigido dará lugar a la exclusión de la misma del\\nprocedimiento de licitación.\\nAsimismo, el licitador deberá presentar una DECLARACIÓN RESPONSABLE firmada por el responsable de los trabajos\\nenumerando los trabajos presentados a valoración y declarando que participó activamente en la creación de todos ellos.\\nNOTA MUY IMPORTANTE:\\n• La propuesta técnica aquí referida deberá presentarse electrónicamente a través de la plataforma Licit@, tal y como\\nse especifica en el apartado I del presente documento, con la única salvedad de los trabajos (videos) a que hace\\nreferencia este apartado H.2., que deberán prestarse en un soporte físico en la sede de la Fundación Canal, según\\nlo indicado en el mencionado apartado I, ya que LA PLATAFORMA LICIT@ NO ADMITE FORMATOS PROPIOS DE\\nARCHIVOS AUDIOVISUALES. Asimismo, la propuesta técnica debe contener toda la información requerida, NO\\nADMITIÉNDOSE LA INCLUSIÓN DE ENLACES A ARCHIVOS EXTERNOS DE NINGÚN TIPO. En caso de que se incluyeran\\nenlaces, los mismos se tendrán por no puestos y, por tanto, la información a la que se accedería a través de ellos no\\nse tendrá en cuenta en la valoración que de la propuesta técnica se realice.\\n• Con carácter aclaratorio cabe indicar que la declaración responsable sobre la autoría de los trabajos que se menciona\\nen este apartado H.2 es imprescindible en aras de acreditar que el responsable de los trabajos ha participado\\nactivamente en la creación de los trabajos presentados a valoración y deberá presentarse electrónicamente, si bien\\ntambién podrá incluirse en el soporte físico que contenga los vídeos. La falta de inclusión de la declaración\\nresponsable en el sobre 2 podrá ser subsanada. En caso de que la declaración responsable se aportara tanto\\nelectrónicamente como en el soporte físico y la misma no coincidiera, se entenderá que la correcta es la que se haya\\naportado electrónicamente en la plataforma Licit@.\\n• En ningún caso deberá incluirse en este sobre información o documentación que ha de presentarse en el Sobre 3.\\nEn caso de que en el sobre 2 se incluyera información o documentación correspondiente al Sobre 3, la propuesta\\nPágina 7 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nserá automáticamente inadmitida y el licitador excluido del procedimiento.\\n3- Sobre Nº 3: documentación que deba ser valorada conforme a criterios cuantificables mediante la mera aplicación de\\nfórmulas, según documento ANEXO III.\\nOferta económica:\\n1. Precio unitario de grabación de media jornada en día laborable\\n2. Precio unitario de grabación de media jornada en fin de semana o festivo\\n3. Precio unitario de grabación de una jornada en día laborable\\n4. Precio unitario de grabación de una jornada en fin de semana o festivo\\n5. Precio unitario de postproducción y entrega de vídeos de menos de 1 minuto\\n6. Precio unitario de postproducción y entrega de vídeos entre 1 y hasta 5 minutos\\n7. Precio unitario de postproducción y entrega de compactados de entre 5 y 15 minutos\\n8. Precio unitario de la realización de un making off del montaje de una exposición en la Sala Castellana 214, de\\nuna duración aproximada de 8 minutos y un periodo de grabación de 8 semanas\\nCon respecto a los precios unitarios que aplicarán a la postproducción y entrega de trabajos así como al aplicable al\\nmaking off, el licitador deberá calcularlos, a efectos de realizar la oferta, considerando que hacen referencia a los vídeos\\nterminados y entregados listos para emitir, entendiéndose que se trata de vídeos producidos y post producidos por el\\nadjudicatario.\\nSe deberá consignar el precio unitario que se aplicará para cada uno de los trabajos indicados, el tipo de IVA (%) y el\\nimporte del IVA, según el modelo indicado. Cada precio unitario ofertado se valorará con exclusión del IVA, sin perjuicio\\nde que los licitadores deban indicar en su proposición económica el tipo de IVA a aplicar.\\nSerán automáticamente excluidas las proposiciones cuya oferta económica supere el precio unitario máximo previsto\\npara alguno de los bloques referidos en el apartado C.1 del presente documento.\\nI. LUGAR Y PLAZO DE PRESENTACIÓN DE OFERTAS\\nPlazo de presentación de ofertas: 11 de octubre de 2024.\\nSe exige la presentación electrónica de las ofertas: Sí, con salvedades.\\nSe exige la presentación electrónica de la oferta en su integridad, accediendo al sistema Licit@ en el Portal de la Contratación\\nPública de la Comunidad de Madrid en la URL https://contratos-publicos.comunidad.madrid/, donde está disponible la\\ninformación necesaria, con la única SALVEDAD de los videos que integrarán la Propuesta técnica, según la misma se describe\\nen el apartado H.2 del Cuadro de características del contrato, los cuales deberán entregarse en soporte físico dentro de un\\nsobre cerrado en la sede de la Fundación Canal, sita en la calle Mateo Inurria, nº 2 de Madrid (28036), antes de las 14:00\\nhoras del día en que expira el plazo de presentación de propuestas.\\nPara la PRESENTACIÓN de ofertas por MEDIOS ELECTRÓNICOS deben tenerse en cuenta las indicaciones previstas en la\\ncláusula 9 del Pliego de condiciones reguladoras.\\nPara la PRESENTACIÓN FÍSICA del soporte que ha de contener los trabajos previamente aludidos, deberá entregarse un sobre\\ncerrado identificado como Sobre nº 2 en el que se incluya dicho soporte. En la parte exterior del sobre deberá hacerse constar:\\n- Los datos de la presente licitación; y\\n- Datos identificativos del licitador concurrente.\\nLa apertura de este sobre se producirá simultáneamente a la desencriptación del resto de la documentación que debe integrar\\nla oferta técnica (declaración responsable de autoría de los videos mencionada en el apartado H.2 anterior) y que se habrá\\npresentado electrónicamente.\\nNOTA IMPORTANTE: en ningún caso deberá incluirse en dicho sobre/soporte documentación o información que debe incluirse\\nen el Sobre 3. En caso de que en el sobre/soporte indicado se incluyera información o documentación correspondiente al\\nSobre 3, la propuesta será automáticamente inadmitida y el licitador excluido del procedimiento.\\nNo se admitirán las proposiciones que no estén presentadas en el plazo señalado al efecto, si bien el límite horario de las\\n14:00 horas SOLO será de aplicación a la parte de la propuesta que debe presentarse físicamente. Será condición inexcusable\\nPágina 8 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\npara la admisión de una propuesta que el sobre que debe presentarse físicamente se encuentre en la sede de la Fundación\\ndentro el plazo indicado al efecto, no siendo admisibles aquellas que se hayan enviado dentro del plazo, pero cuya entrega\\nse produzca fuera del mismo.\\nJ. COMISIÓN DE ASISTENCIA AL ÓRGANO DE CONTRATACIÓN.\\nPresidencia: Directora de Comunicación y Marketing de la Fundación Canal de Isabel II\\nVocal: Jefe de Asuntos Económicos de la Fundación Canal de Isabel II\\nSecretaria: indistintamente una de estas personas, la Directora de la Secretaria General Técnica de la Fundación Canal de Isabel\\nII o la Asesora jurídica de la Fundación Canal de Isabel II.\\nK. CRITERIOS DE ADJUDICACIÓN\\n1- Criterios de adjudicación:\\nÚnico criterio precio más bajo | X Pluralidad de criterios\\nDescripción de los criterios de adjudicación y, en su caso, subcriterios, y su ponderación:\\nA) CRITERIOS CUANTIFICABLES MEDIANTE LA MERA APLICACIÓN DE FÓRMULAS …….………………………………….. 51 puntos\\nOferta económica………………………………………………………………………..………………………………………………………….. Hasta 51 puntos\\n1. Precio unitario grabación de media jornada en día laborable ………………………………………..………….…. 9 puntos\\nEn la proposición se indicará el precio unitario aplicable a cada jornada de grabación.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 9 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 9* Pmin/Pi\\nDónde:\\nVi = valoración correspondiente a la oferta i\\nPi = precio propuesto para la jornada de grabación por la empresa i, en €\\nPmin = precio mínimo ofertado para la jornada de grabación, en €\\n2. Precio unitario grabación de media jornada en fin de semana o festivo …………………………………….…. 7 puntos\\nEn la proposición se indicará el precio unitario aplicable a cada jornada de grabación.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 7 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 7* Pmin/Pi\\nDónde:\\nVi = valoración correspondiente a la oferta i\\nPi = precio propuesto para la jornada de grabación por la empresa i, en €\\nPmin = precio mínimo ofertado para la jornada de grabación, en €\\n3. Precio unitario grabación de una jornada en día laborable …………………………………………………………... 7 puntos\\nEn la proposición se indicará el precio unitario aplicable a cada jornada de grabación.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 7 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 7* Pmin/Pi\\nDónde:\\nVi = valoración correspondiente a la oferta i\\nPi = precio propuesto para la jornada de grabación por la empresa i, en €\\nPmin = precio mínimo ofertado para la jornada de grabación, en €\\nPágina 9 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\n4. Precio unitario grabación de una jornada en fin de semana o festivo …………………………………………... 5 puntos\\nEn la proposición se indicará el precio unitario aplicable a cada jornada de grabación.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 5 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 5* Pmin/Pi\\nDónde:\\nVi = valoración correspondiente a la oferta i\\nPi = precio propuesto para la jornada de grabación por la empresa i, en €\\nPmin = precio mínimo ofertado para la jornada de grabación, en €\\n5. Precio unitario de postproducción y entrega de vídeos de menos de 1 minuto...............................… 9 puntos\\nEn la proposición se indicará el precio unitario aplicable a los vídeos terminados y entregados listos para emitir,\\nentendiéndose que se trata de vídeos preproducidos, producidos y postproducidos por el adjudicatario.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 9 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 9*Pmin/Pi\\nDónde:\\nVi= valoración correspondiente a la oferta i\\nPi= precio propuesto para la postproducción y entrega de vídeos de menos de 1 minuto por la empresa i, en €\\nPmin= precio mínimo ofertado para la postproducción y entrega de vídeos de menos de 1 minuto, en €\\n6. Precio unitario de postproducción y entrega de vídeos de 1 minuto y hasta 5 minutos…………………5 puntos\\nEn la proposición se indicará el precio unitario aplicable a los vídeos terminados y entregados listos para emitir,\\nentendiéndose que se trata de vídeos preproducidos, producidos y postproducidos por el adjudicatario.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 5 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 5*Pmin/Pi\\nDónde:\\nVi= valoración correspondiente a la oferta i\\nPi= precio propuesto para la postproducción y entrega de vídeos de 1 hasta 5 minutos por la empresa i, en €\\nPmin= precio mínimo ofertado para la postproducción y entrega de vídeos de 1 hasta 5 minutos, en €\\n7. Precio unitario de postproducción y entrega de compactados entre 5 y 15 minutos………………………. 5 puntos\\nEn la proposición se indicará el precio unitario aplicable a los compactados terminados y entregados listos para\\nsu uso, entendiéndose que se trata de trabajos realizados por el adjudicatario.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 5 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 5*Pmin/Pi\\nDónde:\\nVi= valoración correspondiente a la oferta i\\nPi= precio propuesto para la postproducción y entrega de compactados de entre 5 y 15 minutos por la empresa\\ni, en €\\nPmin= precio mínimo ofertado para la postproducción y entrega de compactados de entre 5 y 15 minutos, en €\\n8. Precio unitario de la realización de un making off del montaje de una exposición en la Sala Castellana 214, de un\\nperiodo de grabación aproximado de 8 semanas ……………………………………………………………………. 4 puntos\\nEn la proposición se indicará el precio unitario aplicable a la preproducción, producción y postproducción de un\\nmaking off que podría tener una duración de rodaje de hasta 8 semanas, y la edición en formato time-lapse o\\nsimilar para la entrega de un vídeo de una duración aproximada de 8 minutos con el making off (montaje) de la\\nexposición.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nPágina 10 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nmáxima, 4 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 4*Pmin/Pi\\nDónde:\\nVi= valoración correspondiente a la oferta i\\nPi= precio propuesto para la realización del making off de una exposición en la Sala Castellana 214 por la empresa\\ni, en €\\nPmin= precio mínimo ofertado para la realización del making off de una exposición en la Sala Castellana 214, en\\n€\\nLas ofertas que superen el precio unitario máximo establecido para cualquiera de los bloques indicados en el apartado\\nC.1 del presente documento o para todos ellos, serán automáticamente excluidas del presente procedimiento de\\nlicitación.\\nB) CRITERIOS SUJETOS A UN JUICIO DE VALOR ..………………………………………………………..………………………. 49 puntos\\nPropuesta técnica……………………………..………………………………………………………………………………………..…….49 puntos\\nSelección de un mínimo de 5 y un máximo de 10 trabajos realizados por la persona que el licitador vaya a asignar como\\nresponsable de los trabajos, los cuales deberán cumplir con los siguientes requisitos para ser valorados: (i) tener entre\\n20 segundos y 5 minutos de duración; (ii) versar sobre actividades culturales o medioambientales equivalentes a las que\\nlleva a cabo la Fundación y que han sido descritas en el apartado 3 del Pliego de prescripciones técnicas (conferencias,\\nconciertos, exposiciones, talleres, visitas guiadas…etc.); y (iii) haber sido concebidos para ser publicados en redes sociales\\ncon el fin de dinamizar las actividades objeto de cada uno de ellos.\\nDe los trabajos aportados se valorará el tratamiento artístico e innovador de los videos y de los recursos gráficos que\\nincluya en ellos, así como la capacidad de aportar un valor añadido a la difusión de las actividades, según el siguiente\\ndetalle:\\ni. El componente innovador y artístico a la hora de transmitir los contenidos a través de una mirada fresca,\\nnovedosa y sugerente..........................................................................................................hasta 30 puntos\\nCreatividad y Originalidad: capacidad para proponer enfoques visuales originales y creativos que difieran de las\\nconvenciones habituales, con nuevas perspectivas o enfoques que sorprendan al público y atrapen su\\natención……………………………………………………………………………………………….………….……....hasta 10 puntos\\nNarrativa Visual: uso de elementos visuales, como la composición, el encuadre, la iluminación y la dirección\\nartística, para transmitir eficazmente la esencia y el significado de las actividades. Los vídeos logran una\\nconexión emocional y artística con el público……………………………………………………………..hasta 10 puntos\\nDinamismo y adecuación al lenguaje audiovisual: capacidad de aportar dinamismo a los vídeos para hacerlos\\namenos y que estos se adapten al lenguaje audiovisual de las redes sociales………………hasta 10 puntos\\nii. La capacidad de síntesis en piezas breves.............................................................................hasta 14 puntos\\nClaridad y Relevancia: claridad de la presentación y la relevancia de la información proporcionada en las piezas\\nbreves. Capacidad para transmitir la esencia de las actividades de manera fácilmente comprensible en poco\\ntiempo………………………………………………………………………………………………………………………………hasta 7 puntos\\nImpacto: impacto emocional y visual de las piezas breves. Capacidad de captar la atención del público de\\nmanera efectiva y dejar una impresión duradera en un corto período de tiempo…….……….hasta 7 puntos\\niii. La creatividad y adecuación de los grafismos de nueva creación aportados a las piezas.... hasta 5 puntos\\nOriginalidad y Cohesión: originalidad de los grafismos y su cohesión con la temática de las actividades.\\nCapacidad de crear elementos visuales únicos y relevantes para la narrativa cultural………hasta 3 puntos\\nPágina 11 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nEnriquecimiento Visual: los grafismos contribuyen a enriquecer la experiencia visual general de las actividades.\\nLos elementos visuales aportan valor y profundidad a la narrativa audiovisual………………..hasta 2 puntos\\nNo se tendrán en consideración a efectos de valoración ni, por tanto, a efectos de cómputo del número mínimo/máximo\\nde trabajos a aportar: (i) las grabaciones completas (brutos) ni las piezas que no alcancen los 20 segundos o excedan de\\nlos 5 minutos; ni (ii) las piezas cuya temática no sea cultural o medioambiental ni tengan por objeto actividades\\nequivalentes a las desarrolladas por la Fundación ni (iii) las piezas cuyo objeto/destino no sea la dinamización de las\\nactividades en redes sociales ni (iv) aquellas en las que no haya participado la persona que vaya a designarse como\\nresponsable de los trabajos.\\nPara poder llevar a cabo esta valoración, habrán de aportarse al menos 5 trabajos que cumplan los requisitos antedichos\\nde duración, temática y propósito, así como haberse acreditado que en todos ellos ha participado activamente la\\npersona que el licitador vaya a designar como responsable de los trabajos, aportando la declaración responsable referida\\nen el apartado H.2 anterior. En caso de no alcanzarse dicho número o de no haberse acreditado la autoría indicada de\\ntodos ellos, no podrá realizarse la valoración previa y, por tanto, se asignarán 0 puntos en este criterio.\\nLas propuestas técnicas presentadas deberán obtener una puntuación mínima de 34 puntos en la valoración de criterios\\nsujetos a juicio de valor establecidos en este apartado k.1.(B). La presentación de una propuesta técnica que no alcance\\nel mínimo exigido dará lugar a la exclusión de la misma del procedimiento de licitación.\\n2- Criterios de desempate:\\nSi dos o más proposiciones empatasen como proposición económicamente más ventajosa, tendrá preferencia en la\\nadjudicación las proposiciones presentadas por aquellas empresas que, sin estar sujetas a la obligación a que se refiere la\\ncláusula 18.1.a) del Pliego de Condiciones Reguladoras relativas a la contratación de trabajadores/as con minusvalía, en el\\nmomento de acreditar su solvencia técnica, tengan en su plantilla un número de trabajadores con discapacidad superior al\\n2 por 100. A efectos de aplicación de esta circunstancia los licitadores deberán acreditarla, en su caso, mediante los\\ncorrespondientes Contratos de trabajo y documentos de cotización a la Seguridad Social.\\nSi continuase el empate, tendrá preferencia en la adjudicación del Contrato el licitador que disponga del mayor porcentaje\\nde trabajadores fijos con discapacidad en su plantilla.\\nSi continuase el empate, tendrán preferencia en la adjudicación, las proposiciones presentadas por las empresas de\\ninserción reguladas en la Ley 44/2007, de 13 de diciembre, para la regulación del régimen de las empresas de inserción, que\\ncumplan con los requisitos establecidos en dicha normativa para tener esta consideración.\\nSi continuase el empate, tendrán preferencia en la adjudicación las proposiciones presentadas por aquellas empresas que,\\nen el momento de acreditar su solvencia técnica, desarrollen medidas destinadas a lograr la igualdad de oportunidades en\\natención a la identidad y expresión de género, de conformidad con el artículo 43.1 de la Ley 2/2016, de 29 de marzo, de\\nIdentidad y Expresión de Género e Igualdad Social y no Discriminación de la Comunidad de Madrid.\\nSi continuase el empate, tendrán preferencia en la adjudicación las proposiciones presentadas por aquellas empresas que,\\nen el momento de acreditar su solvencia técnica, desarrollen medidas destinadas a lograr la igualdad de oportunidades de\\nconformidad con lo dispuesto en el artículo 18.1 de la Ley 3/2016, de 22 de julio, de Protección Integral contra la LGTBifobia\\ny la Discriminación por Razón de Orientación e Identidad Sexual en la Comunidad de Madrid.\\nSi se produce empate entre dos o más empresas una vez tenidas en cuenta las circunstancias anteriores, se decidirá la\\npropuesta de adjudicación mediante sorteo.\\n3- Criterios para la consideración de ofertas anormalmente bajas:\\nEl importe que se tomará en consideración a efectos de determinar si la oferta es anormalmente baja, es el que resulte de\\nhallar la media ponderada de los precios unitarios ofertados por cada licitador:\\n- Valor de referencia (VR): media ponderada de los precios unitarios ofertados.\\nVR = (Pgmj_lab x 9) + (Pgmj_fdf x 7) + (Pgj_lab x 7) + (Pgj_fdf x 5) + (Pvc x 9) + (Pv1a5 x 5) + (Pctv x 5) + (Pmkf x 4)\\n(9 + 7 + 7 + 5 + 9 +5 + 5 + 4)\\nDonde:\\nPgmj_lab: Precio unitario grabación media jornada día laborable\\nPágina 12 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nPgmj_fdf: Precio unitario grabación media jornada fin de semana o festivo\\nPgj_lab: Precio unitario grabación una jornada día laborable\\nPgj_fdf: Precio unitario grabación una jornada fin de semana o festivo\\nPvc: Precio unitario elaboración de vídeo cortos (<1m)\\nPv1a5: Precio unitario elaboración de vídeo de 1 hasta 5'\\nPctv: Precio unitario compactado (5-15 min.)\\nPmkf: Precio unitario making off (incluye grabación)\\nSe considerarán, en principio, anormales o desproporcionadas las ofertas que se encuentren en los siguientes supuestos:\\na. Cuando, concurriendo un solo licitador, el valor de referencia presentado sea inferior a la media ponderada de los\\nprecios unitarios máximos indicados en el apartado C.1 de este Cuadro de características del contrato en más de 25\\nunidades porcentuales.\\nb. Cuando concurran dos licitadores, el valor de referencia que sea inferior en más de 20 unidades porcentuales al otro\\nvalor de referencia.\\nc. Cuando concurran tres licitadores, los valores de referencia que sean inferiores en más de 10 unidades porcentuales\\na la media aritmética de los valores de referencia presentados. No obstante, se excluirá para el cómputo de dicha\\nmedia el valor de referencia de cuantía más elevada cuando sea superior en más de 10 unidades porcentuales a dicha\\nmedia.\\nd. Cuando concurran cuatro o más licitadores, los valores de referencia que sean inferiores en más de 5 unidades\\nporcentuales a la media aritmética de los valores de referencia presentados. No obstante, si entre ellos existen valores\\nde referencia que sean superiores a dicha media en más de 10 unidades porcentuales, se procederá al cálculo de una\\nnueva media sólo con los valores de referencia que no se encuentren en el supuesto indicado. En todo caso, si el\\nnúmero de los restantes valores de referencia es inferior a tres, la nueva media se calculará sobre los tres valores de\\nreferencia de menor cuantía.\\nCuando se presenten individualmente ofertas pertenecientes al mismo grupo, para aplicar el régimen de apreciación de\\nofertas anormales o desproporcionadas, sólo se tomará en consideración la oferta con valor de referencia más baja de todas\\nlas presentadas por las empresas del grupo, excluyéndose las restantes a los efectos de este cálculo. Dicha regla será de\\naplicación a las ofertas presentadas en UTE por cualquier empresa del grupo con empresas no pertenecientes al mismo,\\ncon independencia del porcentaje que dicha empresa tenga en la Unión Temporal de Empresas. Se entenderá que una\\nempresa pertenece a un grupo empresarial, cuando se encuentre en alguno de los supuestos del artículo 42 del Código de\\nComercio.\\nEn los supuestos en los que, aplicando las reglas anteriores, el órgano de contratación estime que una oferta presenta\\nvalores anormales o desproporcionados, se dará audiencia al licitador que la hubiera presentado para que, en el plazo de\\ncuatro (4) días hábiles desde la notificación mediante la dirección de correo electrónico referida en el apartado A.4 del\\npresente cuadro de características del contrato que al efecto se realice, justifique la valoración de la oferta y las razones y\\ncircunstancias en cuya virtud resulta posible que la solución propuesta pueda ser efectivamente ejecutada en los términos\\nofertados. El licitador precisará las condiciones de la oferta, en particular en lo que se refiere al ahorro que permita el\\nprocedimiento de ejecución del Contrato, las soluciones técnicas adoptadas y las condiciones excepcionalmente favorables\\nde que disponga para ejecutar la prestación, la originalidad de las prestaciones propuestas, el respeto de las disposiciones\\nrelativas a la protección del empleo y las condiciones de trabajo vigentes en el lugar en que se vaya a realizar la prestación,\\no la posible obtención de una ayuda de Estado.\\nSi la oferta es anormal o desproporcionada debido a que el licitador ha obtenido una ayuda estatal, la Fundación Canal de\\nIsabel II sólo podrá rechazar dicha oferta por esa única razón si consulta al licitador y este no puede demostrar, en un plazo\\nsuficiente fijado por la Fundación Canal de Isabel II, que tal ayuda fue concedida de forma legal. Cuando en estas\\ncircunstancias, la Fundación Canal de Isabel II rechace una oferta, informará de ello a la Comisión Europea.\\nEl órgano de contratación acordará la adjudicación a favor de la mejor proposición que pueda ser cumplida a satisfacción\\nde la Fundación Canal de Isabel II.\\n4- Umbral mínimo de puntuación exigido al licitador para continuar el proceso selectivo: las propuestas técnicas presentadas\\ndeberán obtener una puntuación mínima de 34 puntos en la valoración de criterios sujetos a juicio de valor establecidos en el\\napartado k.1.(B) del presente Cuadro de características del contrato. La presentación de una propuesta técnica que no alcance\\nel mínimo exigido dará lugar a la exclusión de la misma del procedimiento de licitación.\\nPágina 13 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nL. CONDICIONES ESPECIALES DE EJECUCIÓN DEL CONTRATO\\nSi X | No\\nComo condiciones especiales de ejecución se establecen las siguientes:\\n- En todos los materiales que deban aportarse se evitará cualquier texto o imagen discriminatorios contra grupos\\nminoritarios de población, o cualquier manifestación discriminatoria por religión, sexo o raza.\\n- El adjudicatario deberá mantener adscrito a la ejecución del contrato y durante toda su vigencia (salvo causa de fuerza\\nmayor o ajena a su voluntad), al responsable de los trabajos cuya formación y experiencia se tuvo en cuenta a efectos\\nde evaluar la capacidad y solvencia (apartado G.2 previo) y cuyos trabajos se presentaron a efectos de valoración en\\nconsonancia con lo indicado en los apartados H.2 y K.1.(B) del presente documento.\\nM. PENALIDADES ESPECÍFICAS\\nCon carácter general, serán de aplicación al contrato las causas de resolución previstas en los artículos 211 y 313 de la LCSP.\\nDe igual modo serán causa de resolución, junto con las demás recogidas en la cláusula 22.4 del Pliego de condiciones\\nreguladoras, la falta de ejecución adecuada o incumplimiento de las directrices que para cada actividad le hayan sido facilitadas\\npor la Fundación, la falta de calidad de las grabaciones realizadas en ejecución del presente contrato, tanto desde un punto de\\nvista material (aspectos técnicos o de tipo creativo), como de contenido (si el trabajo entregado fuera incompleto o no reflejara\\nde modo fidedigno la actividad objeto de tal trabajo). Será igualmente causa de resolución la demora en la entrega de un\\ntrabajo que conlleve la imposibilidad de publicar el mismo en un plazo razonable desde la celebración de la actividad a la que\\nel mismo haga referencia. Todo ello sin perjuicio de la posibilidad de imponer penalidades al adjudicatario por dichos\\nincumplimientos en los términos prevenidos a continuación.\\nA los efectos de la presente licitación y adicionalmente a las previstas en otros documentos o apartados de la documentación\\ncontractual, se considerarán faltas graves las siguientes:\\n- Falta de calidad técnica de los trabajos entregados o si los mismos no reflejan de forma completa la actividad\\nencomendada.\\n- Falta de asistencia a alguna de las actividades para las que ha sido contratado sin causa debidamente justificada.\\n- Incumplimiento de los plazos de entrega pactados o solicitud reiterada y sin justificación para ampliar los mismos.\\n- Incumplimiento de las instrucciones recibidas de la Fundación con relación a los aspectos que debieron tomarse en cuenta\\npara la realización de los trabajos encomendados.\\nY falta muy grave:\\n- Incumplimiento de las instrucciones recibidas de la Fundación con relación a las personas que no pueden aparecer en las\\ngrabaciones y vídeos, por no haberlo consentido.\\nCada falta podrá dar lugar a una amonestación por escrito instando en su caso, a su subsanación. En caso de que no se proceda\\na la subsanación, la Fundación podrá aplicar una penalización por incumplimiento o retraso, según corresponda, en\\nconsonancia con lo establecido en la cláusula 21.3 del Pliego de condiciones reguladoras. Adicionalmente, cuando se hayan\\nrealizado tres amonestaciones por escrito, por cualquiera de los hechos previamente indicados, la Fundación Canal de Isabel\\nII podrá resolver el Contrato.\\nLas penalizaciones previstas en el presente apartado tienen carácter acumulativo y no sustitutivo, a los efectos de lo dispuesto\\nen el artículo 1.152 del Código Civil.\\nA los efectos de lo previsto en el artículo 1.153 del Código Civil, el adjudicatario penalizado, además de satisfacer la penalización\\nen los términos previstos en el párrafo siguiente, deberá cumplir las obligaciones cuyo incumplimiento o retraso se penaliza.\\nLas penalizaciones se detraerán de las cantidades pendientes de pago. En caso de que no existan cantidades pendientes de\\npago, las penalizaciones se harán efectivas con cargo a la garantía definitiva, en caso de haberse constituido ésta. En otro caso,\\ndeberán ser directamente satisfechas por el adjudicatario a la Fundación Canal. En el supuesto de que se hayan hecho efectivas\\ncon cargo a la referida garantía determinadas penalizaciones, el adjudicatario estará obligado a ampliar la garantía en la\\ncantidad que corresponda hasta que ésta alcance el valor del 5% del presupuesto de licitación del Contrato.\\nPágina 14 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nLa aplicación y el pago de las penalizaciones no excluyen la indemnización a que la Fundación Canal de Isabel II pueda tener\\nderecho por daños y perjuicios ocasionados con motivo del incumplimiento imputable al contratista.\\nN. SEGURO DE RESPONSABILIDAD CIVIL A PRESENTAR POR EL ADJUDICATARIO\\nSi | X No\\nÑ. MODIFICACIÓN DEL CONTRATO\\nSi | X No\\nO. POSIBILIDAD DE SUBCONTRATACIÓN\\nSi X | No\\nSerá de aplicación la cláusula 20.2 del Pliego de condiciones reguladoras.\\nDado que se han valorado, según lo indicado en los apartados H.2 y K.1.(B) del presente documento, los trabajos realizados\\npor la persona que el adjudicatario adscribirá a la ejecución del contrato como responsable de los trabajos y ser las\\nprestaciones objeto de esta licitación de carácter artístico y personalísimas, el adjudicatario NO PODRÁ SUBCONTRATAR con\\nterceros la labor de dicho responsable.\\nSin perjuicio de lo expuesto, sí podrá subcontratarse un equipo que realice, de facto, cualquiera de las tareas requeridas para\\nla prestación del servicio, incluyendo los aspectos creativos, siempre que participen bajo la supervisión y dirección del\\nresponsable de los trabajos.\\nP. SUBROGACIÓN\\nSi | X No\\nQ. TRATAMIENTO DE DATOS RESPONSABILIDAD DE LA FUNDACIÓN POR EL ADJUDICATARIO\\nSi X | No\\nFinalidad del tratamiento: utilización de los datos que se indican a continuación respecto de cada categoría de interesados\\npara la elaboración de los trabajos que constituyen el objeto de los servicios.\\nActividades de tratamiento que se llevarán a cabo:\\n☒Recogida ☒ Registro ☐Estructuración ☒Modificación\\n☒Conservación ☐Extracción ☒ Consulta ☒ Acceso\\n☐Difusión ☐Interconexión ☐ Cotejo ☐ Limitación\\n☐Supresión ☐Destrucción ☐Comunicación ☐ Otros (detallar)\\nCategoría de los interesados a cuyos datos va a acceder:\\n- Asistentes anónimos a las actividades (público).\\n- Colaboradores que participan en las actividades (presentadores, ponentes, comisarios, moderadores, músicos e intérpretes,\\nmonitores de talleres, guías, etc.).\\n- Empleados de la Fundación que participan en la organización de los eventos o personal de apoyo contratado por ésta a tal\\nfin.\\n- Artistas o autores cuya obra se expone o divulga.\\nTipo de datos a los que se va a acceder:\\n-En el caso de asistentes anónimos a las actividades: imagen y voz.\\n-En el caso de los colaboradores que participan en las actividades (presentadores, ponentes, comisarios, moderadores,\\nmúsicos e intérpretes, monitores de talleres, guías, etc.) o celebridades e influencers que pudieran asistir a los mismos:\\nnombre, apellidos, cargo-institución, datos profesionales o académicos, imagen, voz.\\n-En el caso de los empleados de la Fundación que participan en la organización de los eventos: nombre y apellido, cargo,\\nimagen y voz.\\n-En el caso de personal de apoyo contratado por la Fundación: imagen.\\n-En el caso de artistas cuya obra se expone: nombre, apellidos, datos profesionales o académicos, imagen y voz.\\nR. RECURSO ESPECIAL\\nSi X | No\\nPágina 15 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nS. ÍNDICE DE ANEXOS\\nANEXO I MODELO DE SOLICITUD (SOBRE Nº1)\\nANEXO II INSTRUCCIONES DOCUMENTO ÚNICO EUROPEO DE CONTRATACIÓN (DEUC) (SOBRE Nº1)\\nANEXO III MODELO OFERTA ECONÓMICA (SOBRE Nº 3)\\nANEXO IV MODELO DE DECLARACIÓN DE EMPRESAS VINCULADAS EN EL MISMO GRUPO (SOBRE Nº1)\\nMadrid, a 9 de septiembre de 2024\\nEva Tormo\\nDIRECTORA GERENTE\"\n  }"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -224,
          0
        ],
        "id": "3f57fc0b-315d-415e-8412-e7cc12a14cc1",
        "name": "When Executed by Another Workflow",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4o",
            "mode": "list",
            "cachedResultName": "GPT-4O"
          },
          "messages": {
            "values": [
              {
                "content": "=Analiza el siguiente texto del “Cuadro de Características del Contrato” de una licitación pública audiovisual en España.\n\nDevuelve SOLO un JSON con los siguientes campos, rellenando todo lo que puedas. Si un dato no existe, usa null (no inventes).  \nIdentifica bien los importes, la duración y el objeto.\n\n{\n  \"file_name\": \"{{$json['fileName']}}\",\n  \"doc_type\": \"cuadro_caracteristicas\",\n  \"basics\": {\n    \"entidad contratante\": \"string|null\"\n    \"objeto\": \"string|null\",\n    \"expediente\": \"string|null\",\n    \"procedimiento\": \"string|null\",\n    \"armonizada\": \"si|no|null\",\n    \"duracion_inicial_meses\": \"number|null\",\n    \"prorrogable_hasta_meses\": \"number|null\",\n    \"lugar_ejecucion\": \"string|null\"\n  },\n  \"economia\": {\n    \"presupuesto_iva_excl\": \"number|null\",\n    \"iva\": \"number|null\",\n    \"presupuesto_iva_incl\": \"number|null\",\n    \"valor_estimado\": \"number|null\",\n    \"revision_precios\": \"si|no|null\",\n    \"sistema_precio\": \"tanto_alzado|unitarios|tarifas|otro|null\"\n  },\n  \"resumen_ejecutivo_av\": \"string\"\n}\n\nTexto a analizar:\n\"\"\"{{ $json.text_clean }}\"\"\"\n",
                "role": "system"
              }
            ]
          },
          "jsonOutput": true,
          "options": {
            "temperature": 0.2
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          288,
          0
        ],
        "id": "cd9bfd11-75c1-46a7-99dc-fb343b4b41d6",
        "name": "Message a model",
        "credentials": {
          "openAiApi": {
            "id": "oA6THKJAOrrLFbwX",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "appy90SZWU2Agcxq6",
            "mode": "list",
            "cachedResultName": "Caracteristicas de contratos",
            "cachedResultUrl": "https://airtable.com/appy90SZWU2Agcxq6"
          },
          "table": {
            "__rl": true,
            "value": "tblP8smrN0NiX8LJU",
            "mode": "list",
            "cachedResultName": "Table 1",
            "cachedResultUrl": "https://airtable.com/appy90SZWU2Agcxq6/tblP8smrN0NiX8LJU"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Expediente": "={{ $json.message.content.basics.expediente }}",
              "Objeto": "={{ $json.message.content.basics.objeto }}",
              "Procedimiento": "={{ $json.message.content.basics.procedimiento }}",
              "Armonizada": "={{ $json.message.content.basics.armonizada }}",
              "Duracion inicial": "={{ Number($json.message.content.basics.duracion_inicial_meses) }} meses",
              "Prorrogable hasta": "={{ Number($json.message.content.basics.prorrogable_hasta_meses) }} dias",
              "Lugar de ejecucion": "={{ $json.message.content.basics.lugar_ejecucion }}",
              "Presupuesto sin IVA": "={{ Number($json.message.content.economia.presupuesto_iva_excl) }}€",
              "IVA": "={{ Number($json.message.content.economia.iva) }} iva",
              "Presupuesto IVA Incluido": "={{ Number($json.message.content.economia.presupuesto_iva_incl) }}€",
              "Valor estimado": "={{ Number($json.message.content.economia.valor_estimado) }}€",
              "Revision de precios": "={{ $json.message.content.economia.revision_precios }}",
              "Sistema de precios": "={{ $json.message.content.economia.sistema_precio }}",
              "Resumen": "={{ $json.message.content.resumen_ejecutivo_av }}",
              "entidad contratante": "={{ $json.message.content.basics['entidad contratante'] }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "entidad contratante",
                "displayName": "entidad contratante",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Expediente",
                "displayName": "Expediente",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Objeto",
                "displayName": "Objeto",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Procedimiento",
                "displayName": "Procedimiento",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Armonizada",
                "displayName": "Armonizada",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Duracion inicial",
                "displayName": "Duracion inicial",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Prorrogable hasta",
                "displayName": "Prorrogable hasta",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Lugar de ejecucion",
                "displayName": "Lugar de ejecucion",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Presupuesto sin IVA",
                "displayName": "Presupuesto sin IVA",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "IVA",
                "displayName": "IVA",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Presupuesto IVA Incluido",
                "displayName": "Presupuesto IVA Incluido",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Valor estimado",
                "displayName": "Valor estimado",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Revision de precios",
                "displayName": "Revision de precios",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Sistema de precios",
                "displayName": "Sistema de precios",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Resumen",
                "displayName": "Resumen",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          656,
          0
        ],
        "id": "e46e212c-61aa-4d1b-97d8-c1deda0b6ca3",
        "name": "Create a record1",
        "credentials": {
          "airtableTokenApi": {
            "id": "voWYyEgk8WCrlWD0",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// --- Limpieza de texto procedente de PDF ---\nlet texto = $input.first().json.text;\n\n// 2️⃣ Elimina números de página (\"Página X de Y\")\ntexto = texto.replace(/Página\\s+\\d+\\s+de\\s+\\d+/gi, \"\");\n\n// 4️⃣ Elimina líneas en blanco múltiples\ntexto = texto.replace(/\\n\\s*\\n+/g, \"\\n\");\n\n// 5️⃣ Elimina guiones o símbolos repetitivos\ntexto = texto.replace(/[-–•]{2,}/g, \"\");\n\n// 6️⃣ Corrige espacios duplicados\ntexto = texto.replace(/\\s{2,}/g, \" \");\n\n// 🔹 Eliminar puntos suspensivos, guiones o signos repetidos\ntexto = texto.replace(/[•·–—\\-]{2,}/g, \"\");\ntexto = texto.replace(/\\.+/g, \".\");\n\n// 7️⃣ Corta partes redundantes (como índices o pies de página)\ntexto = texto.replace(/ÍNDICE[\\s\\S]*?CAPÍTULO\\s+I/gi, \"CAPÍTULO I\");\n\n// 8️⃣ (Opcional) Corta longitud si excede 60.000 caracteres\nif (texto.length > 60000) {\n  texto = texto.slice(0, 60000);\n}\n\nreturn {\n  json: {\n    tipo: $json.tipo,\n    fileName: $json.fileName,\n    text_clean: texto\n  }\n};\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          0
        ],
        "id": "5c405696-c5f4-44c6-8fc9-2d6a18b5c6b7",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Create a record1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "4afb6b4c-0a08-4149-9d08-ae6f39c22651",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-24T16:50:44.705Z",
  "id": "yY4criK2rs0nHaaQ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "1 AVIA_Cuadro",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "  {\n    \"tipo\": \"cuadro\",\n    \"fileName\": \"cuadro_de_caracteristicas_del_contrato.pdf\",\n    \"text\": \"CUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN Y\\nPOSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS AUDIOVISUALES\\nPROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN Y POSTPRODUCCIÓN DE VIDEOS\\nCORTOS PARA LA PROMOCIÓN Y DIFUSIÓN DE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nContrato sujeto a regulación armonizada: Sí | X No\\nExpediente: X Ordinario | Urgente | Emergencia | Anticipada\\nProcedimiento de adjudicación: Abierto no sujeto a regulación armonizada con pluralidad de criterios\\nA. PODER ADJUDICADOR\\n1- Poder adjudicador: Fundación Canal de Isabel II\\n2- Órgano de contratación: Directora Gerente de la Fundación Canal de Isabel II\\n3- Responsable del contrato: \\nDirectora de Comunicación y Marketing de la Fundación Canal de\\nIsabel II\\n4-Dirección del órgano de\\ncontratación/teléfono/email:\\nMateo Inurria, 2 28036 – Madrid. Tfno. +34915451511\\nCorreo electrónico: licitaciones@fundacioncanal.es\\n5- Perfil de contratante: https://contratos-publicos.comunidad.madrid/\\nB. OBJETO DEL CONTRATO\\n1- Objeto del contrato:\\nEl objeto del contrato son los servicios audiovisuales profesionales conforme a las necesidades de la Fundación consistentes\\nen la creación (preproducción, producción y postproducción) de vídeos cortos y de duración media sobre determinadas\\nactividades de la Fundación, concibiendo las piezas resultantes específicamente para su difusión, en cada caso, a través de\\nlos diferentes canales y soportes de comunicación que utiliza la Fundación (página web, redes sociales, boletín de actividades,\\netc.).\\n2- Necesidades a satisfacer:\\n- Preproducción (guionización y planificación), producción (logística y grabación) y postproducción (edición de vídeo y\\naudio) de materiales audiovisuales de determinadas actividades de la Fundación, propias o en colaboración con otras\\ninstituciones.\\n- Entrega y clasificación en remoto de los trabajos en el archivo multimedia de la Fundación siguiendo el nomenclátor de la\\nentidad.\\n3- Tipo de contrato: Servicios\\nServicio regulado en el Anexo IV de la LCSP: Sí | X No\\nContrato Privado, según el art. 26.b) LCSP\\n4- División en lotes: Sí | X No\\nDescripción de lotes: n/a\\nLimitación a la participación/adjudicación: n/a\\n5- CPV, NACE y Categoría:\\nDescripción CPV: 92110000-5\\nCPV complementarios: 92111000-2, 92111200-4\\n6- Admisibilidad de variantes: Si | X No\\nC. PRESUPUESTO BASE DE LA LICITACIÓN\\n1- Presupuesto de licitación: 35.000,00 € (IVA excluido) IVA: 7.350 € Total (en número): 42.350 € (IVA Incluido)\\nTotal (en letra): Cuarenta y dos mil trescientos cincuenta euros (IVA incluido)\\nEl presupuesto de licitación indicado responde al siguiente desglose:\\n- Importe base presupuesto de licitación: ………… 29.411,76 €\\n- Costes indirectos (13%): ………………………………….. 3.823,53 €\\n- Beneficio industrial (6%): ………………………………… 1.761,71 €\\n- Importe total presupuesto de licitación: ………… 35.000,00 €\\nDicho presupuesto es un presupuesto máximo que se ha calculado tomando como referencia, entre otros aspectos, los\\nservicios audiovisuales similares que se han prestado durante el año 2023 para cubrir las actividades desarrolladas por la\\nPágina 2 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nFundación en dicha anualidad y aplicando a los mismos el precio unitario máximo correspondiente de los reflejados en\\nel siguiente desglose:\\nBLOQUES TIPO DE TRABAJO PRECIO UNITARIO MÁXIMO (SIN IVA)\\n1 \\nGrabación media jornada día\\nlaborable \\n500,00 €\\n2 \\nGrabación media jornada fin de\\nsemana o festivo \\n600,00 €\\n3 \\nGrabación una jornada día\\nlaborable \\n800,00 €\\n4 \\nGrabación una jornada fin de\\nsemana o festivo \\n900,00 €\\n5 \\nElaboración de vídeo corto\\n(<1m) \\n150,00 €\\n6 \\nElaboración de vídeo de 1 hasta\\n5' \\n250,00 €\\n7 \\nCompactado para televisión o\\narchivo (5-15 min.) \\n200,00 €\\n8 \\nMaking off (incluye grabación) \\n3.000,00 €\\nEl desglose anterior se incluye a efectos de establecer unos valores máximos para cada uno de los precios unitarios\\nseñalados, pudiendo el ofertante decidir la cuantía específica para cada uno de ellos. En todos los casos el licitador deberá\\ncalcular que los precios unitarios incluirán los trabajos de grabación y edición y cualesquiera otros gastos que lleve\\nasociado el producto final entregado, incluyendo, con carácter meramente enunciativo y no limitativo, los gastos de\\ndesplazamiento, estancia y manutención, en caso de incurrirse en ellos, así como los concernientes a la obtención y\\ncesión de derechos de explotación de propiedad intelectual. El licitador podrá consultar en la cláusula 3 del Pliego de\\nprescripciones técnicas las características de los vídeos finales por cada una de las posibles actividades.\\nLas ofertas que superen el precio unitario máximo establecido para cualquiera de los precios unitarios previos o para\\ntodos ellos, no serán tenidas en cuenta en el presente procedimiento de licitación.\\nLos precios unitarios propuestos por el adjudicatario serán vinculantes para éste aun cuando la Fundación no\\ncomprometa un número mínimo de trabajos y, por ende, una facturación mínima anual; siendo el presupuesto base de\\nla licitación el Alcance Máximo referido en el apartado 2 siguiente.\\n2- Alcance:\\n- Alcance Mínimo: la Fundación no compromete un alcance mínimo.\\n- Alcance Máximo: la Fundación se reserva el derecho a solicitar al adjudicatario los servicios objeto de la presente\\nlicitación hasta un máximo de 35.000 Euros (IVA no incluido) por cada anualidad de vigencia del mismo; importe\\nque resultará de aplicar en cada caso los precios unitarios ofertados por el licitador que resulten de aplicación en\\nfunción de los trabajos encomendados. Dichos precios unitarios deberán permanecer inalterados durante toda\\nla vigencia del contrato (prórrogas incluidas, en su caso) y se entenderá que cubren la adquisición y cesión de\\nderechos de explotación sobre los trabajos efectuados, así como cualquier gasto que lleve asociado el producto\\nfinal entregado, incluyendo, con carácter enunciativo y no limitativo, los gastos de desplazamiento al lugar en el\\nque deben realizarse los servicios y los gastos de estancia y manutención en caso de incurrir en los mismos. En\\ndefinitiva, el presupuesto base de licitación, que coincide con el alcance máximo indicado, constituirá el precio\\ndel contrato.\\n3- Valor estimado: 175.000,00 € (IVA excluido)\\nEl valor estimado del contrato comprende el presupuesto base de la licitación considerando que se formalicen todas las\\nprórrogas previstas.\\n4- Sistema de determinación del precio:\\nTanto alzado | Tanto alzado con precio cerrado (sin variación aún con modificaciones)\\n| X Precios unitarios | Tarifas | Otro sistema\\n5- Anualidades (IVA excluido):\\na. 2024-2025: 35.000,00 €\\nPágina 3 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nb. 2025-2026: 35.000,00 €\\nc. 2026-2027: 35.000,00 €\\nd. 2027-2028: 35.000,00 €\\ne. 2028-2029: 35.000,00 €\\n6- Revisión de precios: Si | X No\\n7- Financiación con fondos externos:\\nSi | No X\\nTipo de fondo: ----\\n% de cofinanciación: ----\\n8- Forma de pago:\\nLa facturación de los trabajos a la Fundación Canal se llevará a cabo del siguiente modo: el adjudicatario facturará\\ncon periodicidad mensual los trabajos ejecutados y entregados durante el mes inmediatamente anterior aplicando\\nlos precios unitarios ofertados que correspondan a cada trabajo. La factura deberá identificar todos los trabajos\\nefectuados y facturados en virtud de la misma, así como la referencia del contrato (07/2024).\\nEl pago de las facturas se efectuará mediante transferencia bancaria, con un vencimiento de treinta días desde su\\nrecepción, previa verificación de que los servicios facturados y los prestados se corresponden y que éstos han sido\\naceptados por el Responsable del contrato.\\n9- Forma de constatación de la correcta prestación del servicio y de su recepción:\\nConformidad del Responsable del contrato designado por el órgano de contratación.\\nD. PLAZO Y LUGAR DE EJECUCIÓN DEL CONTRATO\\n1- Plazo de ejecución:\\n1. Duración inicial: 12 meses a contar desde la formalización del contrato.\\n2. Duración máxima: 60 meses\\n3. Plazos parciales: los marcados en el Pliego de prescripciones técnicas.\\n4. Fecha prevista de inicio: a la formalización del contrato.\\n5. Contrato de duración plurianual\\n2- Programa de trabajo: según lo previsto en el Pliego de prescripciones técnicas.\\n3- Prórroga: la duración inicial del contrato, 12 meses, podrá ser prorrogada por periodos sucesivos de igual duración hasta\\nun máximo de 60 meses (cuatro posibles prórrogas de 12 meses cada una).\\nLas prórrogas serán obligatorias para el adjudicatario, siendo comunicadas a éste con al menos dos meses de antelación a la\\nfinalización del plazo inicial del contrato o de la prórroga en curso.\\n4- Plazo de garantía: en atención a la naturaleza de los servicios objeto de la licitación, no es necesario prever un periodo de\\ngarantía que se extienda con posterioridad a la finalización del contrato; sin perjuicio de la obligación del adjudicatario de\\nresponder y mantener indemne a la Fundación en caso de que un tercero pudiera interponer una reclamación frente a ésta\\nalegando que el uso de cualquiera de las creatividades, diseños, textos, imágenes, gráficos o entregables de cualquier\\nnaturaleza puestos a disposición de la Fundación Canal con causa en el contrato vulnera derechos de dicho tercero, ya sean\\nderechos de imagen, propiedad intelectual, industrial o de otra naturaleza; aun cuando dicha reclamación sea interpuesta\\ncon posterioridad a la terminación del contrato por cualquier causa.\\nEste compromiso se extenderá hasta la prescripción de las acciones respecto de las cuales el adjudicatario asume el\\ncompromiso de indemnidad previo.\\n5- Lugar de ejecución del contrato: las grabaciones se realizarán en la ubicación en la que se celebren las actividades que\\nhayan de ser grabadas (Comunidad de Madrid) y el resto de los trabajos que comprende el servicio desde la ubicación propia\\ndel adjudicatario.\\nE. GARANTÍA\\nGarantía provisional: Si | X No Importe: Garantía definitiva: Si | X No Importe: ----\\nDe conformidad con lo dispuesto en el art. 107 LCSP y en\\nconsideración a la naturaleza de los servicios, que implica un\\nescaso riesgo derivado directamente de la ejecución de los\\ntrabajos objeto de la presente licitación, se acuerda no requerir la\\nconstitución de garantía definitiva a fin de promover una mayor\\nconcurrencia y en aras de obtener un precio de adjudicación más\\ncompetitivo al reducir los costes financieros asociados al servicio.\\nPágina 4 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nF. SOLVENCIA ECONÓMICA O FINANCIERA\\nLa solvencia económica y financiera exigida y su sistema de acreditación serán los detallados a continuación:\\nVolumen anual de negocio referido al mejor ejercicio dentro de los tres últimos disponibles, en función de las fechas de\\nconstitución o de inicio de actividades del empresario y de presentación de las ofertas por importe igual o superior a\\n35.000,00 €.\\nEl volumen anual de negocios del licitador se acreditará por medio de sus cuentas anuales aprobadas o depositadas en el\\nRegistro Mercantil, si el empresario estuviera inscrito en dicho registro, y en caso contario por las depositadas en el registro\\noficial en que deba estar inscrito. Los empresarios individuales no inscritos en el Registro Mercantil acreditarán su volumen\\nanual de negocios mediante sus libros de inventarios y cuentas anuales legalizados por el Registro Mercantil.\\nAdicionalmente, se aportará una declaración responsable del empresario, sellada y firmada por el representante de la\\nempresa, sobre el volumen anual de negocios.\\nEn aplicación de lo establecido en el art. 86.1 de la Ley de Contratos del Sector Público, si el licitador no estuviera en\\ncondiciones de acreditar su solvencia económica o financiera aportando los documentos mencionados previamente, podrá\\nhacerlo por cualquier otro medio o documento que considere apropiado (si bien la suficiencia del mismo a efectos de\\nacreditación de la solvencia quedará a criterio del órgano de contratación).\\nG. SOLVENCIA TÉCNICA Y PROFESIONAL\\nLa solvencia técnica y profesional exigida para la correcta ejecución de este contrato y su sistema de acreditación se\\ncorresponderán con los indicados a continuación:\\n1. De la entidad licitadora:\\na. Una relación de los principales servicios o trabajos realizados por el licitador de igual o similar naturaleza a los que\\nson objeto de la presente contratación, esto es, realización de videos cortos, incluyendo preproducción, producción\\ny postproducción, que sirvan para dinamizar en redes sociales (incluido, pero no principal, el canal de YouTube) y\\ncuya temática verse sobre actividades culturales o medioambientales; por un importe acumulado de al menos 35.000\\neuros (IVA excluido) y realizados como máximo en los últimos tres años; en la que se indique la naturaleza de la\\nprestación, el importe, las fechas de inicio y fin de la prestación y el destinatario de los mismos.\\nLos servicios o trabajos efectuados se acreditarán por el adjudicatario mediante certificados expedidos o visados por\\nel órgano competente, cuando el destinatario sea una entidad del sector público; cuando el destinatario sea un sujeto\\nprivado, mediante un certificado expedido por este o, a falta de este certificado, mediante una declaración del\\nempresario acompañado de los documentos obrantes en poder del mismo que acrediten la realización de la\\nprestación. Los certificados emitidos por las entidades receptoras de los servicios ya sean éstas públicas o privadas,\\nhabrán de contener la información indicada en el párrafo previo para cada uno de los servicios realizados.\\nb. Declaración sobre el equipamiento técnico del que se dispondrá para la ejecución de los trabajos teniendo en cuenta\\nque habrá trabajos que deberán realizarse en condiciones de baja intensidad lumínica siendo, por tanto,\\nimprescindible contar con un equipo profesional compatible; así como también con fuentes de iluminación led con\\nbajas emisiones de rayos ultravioletas, orientables y regulables en intensidad que permitan la grabación de las obras\\nde arte sin dañarlas. Igualmente, declaración sobre el cumplimiento de las características técnicas de las cámaras y\\nresto de equipamiento que permita cumplir con los requisitos de las grabaciones especificados en el apartado “2.\\nOBJETO Y DESCRIPCIÓN DEL SERVICIO” del Pliego de prescripciones técnicas.\\nLa suficiencia del equipamiento técnico se acreditará por el adjudicatario mediante declaración responsable en la\\nque se detalle el equipamiento técnico del que se dispone y se declare que el mismo estará disponible durante toda\\nla vigencia del contrato para la prestación de los servicios objeto de mismo y es suficiente para que dicha prestación\\nse realice con la mayor calidad teniendo en cuenta lo previsto en los pliegos y, en particular, los condicionantes\\nindicados previamente.\\n2. Del profesional que se asigne como responsable de los trabajos: el licitador deberá adscribir a la ejecución del contrato\\nun responsable de los trabajos que pertenezca a su plantilla -en consonancia con los motivos que a este respecto se\\nrecogen en el apartado O del presente documento- y cuente con formación específica en la Gestión de proyectos\\naudiovisuales, producción y edición de vídeo y/o la elaboración de contenido audiovisual en plataformas digitales, y con\\nmás de cinco (5) años de experiencia en trabajos análogos a los descritos en el objeto del contrato, esto es, elaboración\\nPágina 5 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nde audiovisuales; con el fin de aglutinar en un único responsable el conocimiento y experiencia necesarios para la\\ncoordinación de los distintos trabajos que requiere el desarrollo del producto final objeto del servicio (preproducción,\\nproducción y postproducción). En caso de que el licitador fuera un profesional independiente, deberá ser él quien cuente\\ncon la formación y experiencia previamente indicada y ejercer, por tanto, directamente y por sí mismo la labor de\\nresponsable de los trabajos en caso de resultar adjudicatario del contrato.\\nPara acreditar la formación y experiencia del responsable de los trabajos, el adjudicatario deberá presentar su\\ncurrículum, el cual deberá permitir la identificación del titular mediante nombre y apellidos y acreditar la formación y\\nexperiencia previamente requerida. Asimismo, deberá aportar contrato de trabajo, TC o documentación equivalente\\nque permita acreditar que el responsable de los trabajos forma parte de la plantilla del licitador. Los licitadores deberán\\ncontar con los consentimientos necesarios para facilitar datos de empleados o terceros a la Fundación para dar\\ncumplimiento a lo dispuesto en los pliegos.\\nLas empresas de nueva creación (antigüedad inferior a cinco años) quedarán eximidas de acreditar la solvencia en los términos\\nindicados en el apartado G.1.a) anterior, si bien sí tendrán que acreditar su solvencia técnica y profesional mediante la\\naportación de la información indicada en los apartados G.1.b) y G.2 previos.\\nH. DOCUMENTACIÓN QUE DEBEN PRESENTAR LOS LICITADORES\\nEl licitador deberá presentar la documentación consignada a continuación en cada uno de los sobres indicados.\\n1- Sobre Nº 1: la señalada en la cláusula 8 del Pliego de condiciones reguladoras:\\na) Identificación de la persona individual, empresario, uniones o agrupaciones de empresas, según ANEXO I.\\nb) Declaración responsable del licitador, obligatoriamente, con el documento europeo único de contratación (DEUC),\\nconforme a las indicaciones del ANEXO II.\\nSerá necesario utilizar el modelo de DEUC simplificado que se ha publicado junto con los pliegos que rigen la presente\\nlicitación.\\nc) En caso de constituir una unión temporal de empresarios (UTE) o acreditar la solvencia con medios externos,\\ndeberá cumplimentarse tal extremo en el DEUC que aporte el licitador concurrente, así como cumplimentarse y\\npresentarse un DEUC por cada uno de los miembros de la UTE, y, en su caso, por cada una de las entidades cuya\\nsolvencia se integrase. En el caso de acudirse a la figura de la UTE, deberá aportarse compromiso de constitución\\nde la UTE en el que se indicarán los nombres y circunstancias de los que la constituyan y la participación de cada\\nuno, así como que asumen el compromiso de constituirse formalmente en unión temporal en caso de resultar\\nadjudicatarios del contrato y responder solidariamente, todos los integrantes de la UTE, por las responsabilidades\\nque se pudieran derivar del contrato frente a la Fundación.\\nd) En caso de subcontratación, el licitador deberá presentar una relación de los subcontratistas indicando la parte\\ndel contrato que se pretende subcontratar y el nombre o el perfil empresarial de los subcontratistas; y aportar un\\ndocumento que demuestre la existencia de un compromiso formal con los mismos para la ejecución del contrato.\\nEn el caso de que el licitador recurra a la capacidad de la/s empresa/s subcontratadas para acreditar la solvencia\\nrequerida en los apartados F o G del Cuadro de características del contrato, cada subcontratista deberá presentar\\nuna declaración responsable, obligatoriamente, con el documento único de contratación (DEUC).\\ne) En su caso, declaración de confidencialidad en los términos indicados en la cláusula 7 del Pliego de condiciones\\nreguladoras.\\n2- Sobre Nº 2: de conformidad con lo establecido en el apartado K.1.(B) “Criterios sujetos a un juicio de valor” del presente\\ndocumento y con el Pliego de prescripciones técnicas, en este sobre se incluirá la documentación de índole técnica que\\naporte el licitador a efectos de valoración de la oferta técnica.\\nLa proposición relativa a los criterios sujetos a un juicio de valor (propuesta técnica) a presentar consistirá en una selección\\nde un mínimo de 5 y un máximo de 10 trabajos realizados por la persona que el licitador, en caso de resultar adjudicatario,\\nvaya a designar como responsable de los trabajos (y al que se alude en el apartado G.2 anterior) y que, por tanto, participará\\nen la elaboración de aquéllos que se le encomienden con causa en el presente contrato; trabajos que han de cumplir los\\nrequisitos detallados más abajo a fin de que puedan ser considerados trabajos análogos a los que se licitan.\\nEn caso de que se aportaran menos de 5 trabajos, se otorgarán 0 puntos a la valoración de la propuesta técnica por considerar\\nque no se ha aportado un número suficiente de trabajos a efectos de poder evaluar los distintos aspectos detallados en el\\nPágina 6 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\napartado K.1.(B) siguiente; (ii) si se aportaran más de 10, se valorarán sólo los 10 primeros trabajos según su orden de\\naparición en la propuesta técnica y (iii) dentro del cómputo de mínimo de 5 y máximo de 10 trabajos SOLO se considerarán\\naquellos trabajos que cumplan los requisitos para ser considerados como trabajos análogos, según descripción de los mismos\\nrecogida en el párrafo siguiente.\\nLos trabajos presentados deberán cumplir los tres requisitos siguientes para considerarse análogos y, por tanto, ser objeto\\nde valoración:\\n(i) tener entre 20 segundos y 5 minutos de duración;\\n(ii) versar sobre actividades culturales o medioambientales equivalentes a las que lleva a cabo la Fundación y que han sido\\ndescritas en el apartado 3 del Pliego de prescripciones técnicas (conferencias, conciertos, exposiciones, talleres, visitas\\nguiadas…etc.); y\\n(iii) haber sido concebidos para ser publicados en redes sociales con el fin de dinamizar las actividades objeto de cada uno\\nde ellos.\\nNo se tendrán en consideración a efectos de valoración ni, por tanto, a efectos de cómputo del número mínimo/máximo de\\ntrabajos a aportar: (i) las grabaciones completas (brutos) ni las piezas que no alcancen los 20 segundos o excedan de los 5\\nminutos; ni (ii) las piezas cuya temática no sea cultural o medioambiental ni tengan por objeto actividades equivalentes a las\\ndesarrolladas por la Fundación ni (iii) las piezas cuyo objeto/destino no sea la dinamización de las actividades en redes sociales\\nni (iv) aquellas en las que no haya participado la persona que vaya a designarse como responsable de los trabajos.\\nEn definitiva, en aras a lograr la mejor valoración posible, los licitadores deberán hacer un esfuerzo para elaborar la oferta\\nteniendo en cuenta que únicamente se valorarán trabajos que cumplan los requisitos previos, esto es, duración del trabajo,\\ntemática (actividades culturales o medioambientales a las que desarrolla habitualmente la Fundación y que han sido\\ndesglosadas en el apartado 3 del Pliego de prescripciones técnicas), concebidos para ser publicados en redes sociales a fin\\nde dinamizar las actividades y haber sido creados con la participación del responsable de los trabajos; debiendo darse estos\\ncuatro (4) requisitos de forma simultánea en cada trabajo aportado para que sean objeto de valoración. Ello supone que a\\nefectos del cálculo de los trabajos requeridos (mínimo de 5 y máximo de 10) sólo se computarán los que cumplan TODOS\\nlos requisitos exigidos previamente para entender que se trata de trabajos análogos.\\nIgualmente, se deberá tener presente que las valoraciones se harán de acuerdo con los criterios destacados en el apartado\\nK.1.(B) siguiente. Por tanto, los trabajos deberán seleccionarse considerando los criterios desglosados en dicho apartado\\nK.1.(B).\\nLas propuestas técnicas presentadas deberán obtener una puntuación mínima de 34 puntos en la valoración de criterios\\nsujetos a juicio de valor establecidos en el apartado k.1.(B) del presente Cuadro de características del contrato. La\\npresentación de una propuesta técnica que no alcance el mínimo exigido dará lugar a la exclusión de la misma del\\nprocedimiento de licitación.\\nAsimismo, el licitador deberá presentar una DECLARACIÓN RESPONSABLE firmada por el responsable de los trabajos\\nenumerando los trabajos presentados a valoración y declarando que participó activamente en la creación de todos ellos.\\nNOTA MUY IMPORTANTE:\\n• La propuesta técnica aquí referida deberá presentarse electrónicamente a través de la plataforma Licit@, tal y como\\nse especifica en el apartado I del presente documento, con la única salvedad de los trabajos (videos) a que hace\\nreferencia este apartado H.2., que deberán prestarse en un soporte físico en la sede de la Fundación Canal, según\\nlo indicado en el mencionado apartado I, ya que LA PLATAFORMA LICIT@ NO ADMITE FORMATOS PROPIOS DE\\nARCHIVOS AUDIOVISUALES. Asimismo, la propuesta técnica debe contener toda la información requerida, NO\\nADMITIÉNDOSE LA INCLUSIÓN DE ENLACES A ARCHIVOS EXTERNOS DE NINGÚN TIPO. En caso de que se incluyeran\\nenlaces, los mismos se tendrán por no puestos y, por tanto, la información a la que se accedería a través de ellos no\\nse tendrá en cuenta en la valoración que de la propuesta técnica se realice.\\n• Con carácter aclaratorio cabe indicar que la declaración responsable sobre la autoría de los trabajos que se menciona\\nen este apartado H.2 es imprescindible en aras de acreditar que el responsable de los trabajos ha participado\\nactivamente en la creación de los trabajos presentados a valoración y deberá presentarse electrónicamente, si bien\\ntambién podrá incluirse en el soporte físico que contenga los vídeos. La falta de inclusión de la declaración\\nresponsable en el sobre 2 podrá ser subsanada. En caso de que la declaración responsable se aportara tanto\\nelectrónicamente como en el soporte físico y la misma no coincidiera, se entenderá que la correcta es la que se haya\\naportado electrónicamente en la plataforma Licit@.\\n• En ningún caso deberá incluirse en este sobre información o documentación que ha de presentarse en el Sobre 3.\\nEn caso de que en el sobre 2 se incluyera información o documentación correspondiente al Sobre 3, la propuesta\\nPágina 7 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nserá automáticamente inadmitida y el licitador excluido del procedimiento.\\n3- Sobre Nº 3: documentación que deba ser valorada conforme a criterios cuantificables mediante la mera aplicación de\\nfórmulas, según documento ANEXO III.\\nOferta económica:\\n1. Precio unitario de grabación de media jornada en día laborable\\n2. Precio unitario de grabación de media jornada en fin de semana o festivo\\n3. Precio unitario de grabación de una jornada en día laborable\\n4. Precio unitario de grabación de una jornada en fin de semana o festivo\\n5. Precio unitario de postproducción y entrega de vídeos de menos de 1 minuto\\n6. Precio unitario de postproducción y entrega de vídeos entre 1 y hasta 5 minutos\\n7. Precio unitario de postproducción y entrega de compactados de entre 5 y 15 minutos\\n8. Precio unitario de la realización de un making off del montaje de una exposición en la Sala Castellana 214, de\\nuna duración aproximada de 8 minutos y un periodo de grabación de 8 semanas\\nCon respecto a los precios unitarios que aplicarán a la postproducción y entrega de trabajos así como al aplicable al\\nmaking off, el licitador deberá calcularlos, a efectos de realizar la oferta, considerando que hacen referencia a los vídeos\\nterminados y entregados listos para emitir, entendiéndose que se trata de vídeos producidos y post producidos por el\\nadjudicatario.\\nSe deberá consignar el precio unitario que se aplicará para cada uno de los trabajos indicados, el tipo de IVA (%) y el\\nimporte del IVA, según el modelo indicado. Cada precio unitario ofertado se valorará con exclusión del IVA, sin perjuicio\\nde que los licitadores deban indicar en su proposición económica el tipo de IVA a aplicar.\\nSerán automáticamente excluidas las proposiciones cuya oferta económica supere el precio unitario máximo previsto\\npara alguno de los bloques referidos en el apartado C.1 del presente documento.\\nI. LUGAR Y PLAZO DE PRESENTACIÓN DE OFERTAS\\nPlazo de presentación de ofertas: 11 de octubre de 2024.\\nSe exige la presentación electrónica de las ofertas: Sí, con salvedades.\\nSe exige la presentación electrónica de la oferta en su integridad, accediendo al sistema Licit@ en el Portal de la Contratación\\nPública de la Comunidad de Madrid en la URL https://contratos-publicos.comunidad.madrid/, donde está disponible la\\ninformación necesaria, con la única SALVEDAD de los videos que integrarán la Propuesta técnica, según la misma se describe\\nen el apartado H.2 del Cuadro de características del contrato, los cuales deberán entregarse en soporte físico dentro de un\\nsobre cerrado en la sede de la Fundación Canal, sita en la calle Mateo Inurria, nº 2 de Madrid (28036), antes de las 14:00\\nhoras del día en que expira el plazo de presentación de propuestas.\\nPara la PRESENTACIÓN de ofertas por MEDIOS ELECTRÓNICOS deben tenerse en cuenta las indicaciones previstas en la\\ncláusula 9 del Pliego de condiciones reguladoras.\\nPara la PRESENTACIÓN FÍSICA del soporte que ha de contener los trabajos previamente aludidos, deberá entregarse un sobre\\ncerrado identificado como Sobre nº 2 en el que se incluya dicho soporte. En la parte exterior del sobre deberá hacerse constar:\\n- Los datos de la presente licitación; y\\n- Datos identificativos del licitador concurrente.\\nLa apertura de este sobre se producirá simultáneamente a la desencriptación del resto de la documentación que debe integrar\\nla oferta técnica (declaración responsable de autoría de los videos mencionada en el apartado H.2 anterior) y que se habrá\\npresentado electrónicamente.\\nNOTA IMPORTANTE: en ningún caso deberá incluirse en dicho sobre/soporte documentación o información que debe incluirse\\nen el Sobre 3. En caso de que en el sobre/soporte indicado se incluyera información o documentación correspondiente al\\nSobre 3, la propuesta será automáticamente inadmitida y el licitador excluido del procedimiento.\\nNo se admitirán las proposiciones que no estén presentadas en el plazo señalado al efecto, si bien el límite horario de las\\n14:00 horas SOLO será de aplicación a la parte de la propuesta que debe presentarse físicamente. Será condición inexcusable\\nPágina 8 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\npara la admisión de una propuesta que el sobre que debe presentarse físicamente se encuentre en la sede de la Fundación\\ndentro el plazo indicado al efecto, no siendo admisibles aquellas que se hayan enviado dentro del plazo, pero cuya entrega\\nse produzca fuera del mismo.\\nJ. COMISIÓN DE ASISTENCIA AL ÓRGANO DE CONTRATACIÓN.\\nPresidencia: Directora de Comunicación y Marketing de la Fundación Canal de Isabel II\\nVocal: Jefe de Asuntos Económicos de la Fundación Canal de Isabel II\\nSecretaria: indistintamente una de estas personas, la Directora de la Secretaria General Técnica de la Fundación Canal de Isabel\\nII o la Asesora jurídica de la Fundación Canal de Isabel II.\\nK. CRITERIOS DE ADJUDICACIÓN\\n1- Criterios de adjudicación:\\nÚnico criterio precio más bajo | X Pluralidad de criterios\\nDescripción de los criterios de adjudicación y, en su caso, subcriterios, y su ponderación:\\nA) CRITERIOS CUANTIFICABLES MEDIANTE LA MERA APLICACIÓN DE FÓRMULAS …….………………………………….. 51 puntos\\nOferta económica………………………………………………………………………..………………………………………………………….. Hasta 51 puntos\\n1. Precio unitario grabación de media jornada en día laborable ………………………………………..………….…. 9 puntos\\nEn la proposición se indicará el precio unitario aplicable a cada jornada de grabación.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 9 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 9* Pmin/Pi\\nDónde:\\nVi = valoración correspondiente a la oferta i\\nPi = precio propuesto para la jornada de grabación por la empresa i, en €\\nPmin = precio mínimo ofertado para la jornada de grabación, en €\\n2. Precio unitario grabación de media jornada en fin de semana o festivo …………………………………….…. 7 puntos\\nEn la proposición se indicará el precio unitario aplicable a cada jornada de grabación.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 7 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 7* Pmin/Pi\\nDónde:\\nVi = valoración correspondiente a la oferta i\\nPi = precio propuesto para la jornada de grabación por la empresa i, en €\\nPmin = precio mínimo ofertado para la jornada de grabación, en €\\n3. Precio unitario grabación de una jornada en día laborable …………………………………………………………... 7 puntos\\nEn la proposición se indicará el precio unitario aplicable a cada jornada de grabación.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 7 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 7* Pmin/Pi\\nDónde:\\nVi = valoración correspondiente a la oferta i\\nPi = precio propuesto para la jornada de grabación por la empresa i, en €\\nPmin = precio mínimo ofertado para la jornada de grabación, en €\\nPágina 9 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\n4. Precio unitario grabación de una jornada en fin de semana o festivo …………………………………………... 5 puntos\\nEn la proposición se indicará el precio unitario aplicable a cada jornada de grabación.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 5 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 5* Pmin/Pi\\nDónde:\\nVi = valoración correspondiente a la oferta i\\nPi = precio propuesto para la jornada de grabación por la empresa i, en €\\nPmin = precio mínimo ofertado para la jornada de grabación, en €\\n5. Precio unitario de postproducción y entrega de vídeos de menos de 1 minuto...............................… 9 puntos\\nEn la proposición se indicará el precio unitario aplicable a los vídeos terminados y entregados listos para emitir,\\nentendiéndose que se trata de vídeos preproducidos, producidos y postproducidos por el adjudicatario.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 9 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 9*Pmin/Pi\\nDónde:\\nVi= valoración correspondiente a la oferta i\\nPi= precio propuesto para la postproducción y entrega de vídeos de menos de 1 minuto por la empresa i, en €\\nPmin= precio mínimo ofertado para la postproducción y entrega de vídeos de menos de 1 minuto, en €\\n6. Precio unitario de postproducción y entrega de vídeos de 1 minuto y hasta 5 minutos…………………5 puntos\\nEn la proposición se indicará el precio unitario aplicable a los vídeos terminados y entregados listos para emitir,\\nentendiéndose que se trata de vídeos preproducidos, producidos y postproducidos por el adjudicatario.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 5 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 5*Pmin/Pi\\nDónde:\\nVi= valoración correspondiente a la oferta i\\nPi= precio propuesto para la postproducción y entrega de vídeos de 1 hasta 5 minutos por la empresa i, en €\\nPmin= precio mínimo ofertado para la postproducción y entrega de vídeos de 1 hasta 5 minutos, en €\\n7. Precio unitario de postproducción y entrega de compactados entre 5 y 15 minutos………………………. 5 puntos\\nEn la proposición se indicará el precio unitario aplicable a los compactados terminados y entregados listos para\\nsu uso, entendiéndose que se trata de trabajos realizados por el adjudicatario.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nmáxima, 5 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 5*Pmin/Pi\\nDónde:\\nVi= valoración correspondiente a la oferta i\\nPi= precio propuesto para la postproducción y entrega de compactados de entre 5 y 15 minutos por la empresa\\ni, en €\\nPmin= precio mínimo ofertado para la postproducción y entrega de compactados de entre 5 y 15 minutos, en €\\n8. Precio unitario de la realización de un making off del montaje de una exposición en la Sala Castellana 214, de un\\nperiodo de grabación aproximado de 8 semanas ……………………………………………………………………. 4 puntos\\nEn la proposición se indicará el precio unitario aplicable a la preproducción, producción y postproducción de un\\nmaking off que podría tener una duración de rodaje de hasta 8 semanas, y la edición en formato time-lapse o\\nsimilar para la entrega de un vídeo de una duración aproximada de 8 minutos con el making off (montaje) de la\\nexposición.\\nEn el análisis económico prima en orden decreciente, el precio unitario más bajo, teniendo éste la valoración\\nPágina 10 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nmáxima, 4 puntos; a continuación, se establece la fórmula que resultará de aplicación:\\nVi = 4*Pmin/Pi\\nDónde:\\nVi= valoración correspondiente a la oferta i\\nPi= precio propuesto para la realización del making off de una exposición en la Sala Castellana 214 por la empresa\\ni, en €\\nPmin= precio mínimo ofertado para la realización del making off de una exposición en la Sala Castellana 214, en\\n€\\nLas ofertas que superen el precio unitario máximo establecido para cualquiera de los bloques indicados en el apartado\\nC.1 del presente documento o para todos ellos, serán automáticamente excluidas del presente procedimiento de\\nlicitación.\\nB) CRITERIOS SUJETOS A UN JUICIO DE VALOR ..………………………………………………………..………………………. 49 puntos\\nPropuesta técnica……………………………..………………………………………………………………………………………..…….49 puntos\\nSelección de un mínimo de 5 y un máximo de 10 trabajos realizados por la persona que el licitador vaya a asignar como\\nresponsable de los trabajos, los cuales deberán cumplir con los siguientes requisitos para ser valorados: (i) tener entre\\n20 segundos y 5 minutos de duración; (ii) versar sobre actividades culturales o medioambientales equivalentes a las que\\nlleva a cabo la Fundación y que han sido descritas en el apartado 3 del Pliego de prescripciones técnicas (conferencias,\\nconciertos, exposiciones, talleres, visitas guiadas…etc.); y (iii) haber sido concebidos para ser publicados en redes sociales\\ncon el fin de dinamizar las actividades objeto de cada uno de ellos.\\nDe los trabajos aportados se valorará el tratamiento artístico e innovador de los videos y de los recursos gráficos que\\nincluya en ellos, así como la capacidad de aportar un valor añadido a la difusión de las actividades, según el siguiente\\ndetalle:\\ni. El componente innovador y artístico a la hora de transmitir los contenidos a través de una mirada fresca,\\nnovedosa y sugerente..........................................................................................................hasta 30 puntos\\nCreatividad y Originalidad: capacidad para proponer enfoques visuales originales y creativos que difieran de las\\nconvenciones habituales, con nuevas perspectivas o enfoques que sorprendan al público y atrapen su\\natención……………………………………………………………………………………………….………….……....hasta 10 puntos\\nNarrativa Visual: uso de elementos visuales, como la composición, el encuadre, la iluminación y la dirección\\nartística, para transmitir eficazmente la esencia y el significado de las actividades. Los vídeos logran una\\nconexión emocional y artística con el público……………………………………………………………..hasta 10 puntos\\nDinamismo y adecuación al lenguaje audiovisual: capacidad de aportar dinamismo a los vídeos para hacerlos\\namenos y que estos se adapten al lenguaje audiovisual de las redes sociales………………hasta 10 puntos\\nii. La capacidad de síntesis en piezas breves.............................................................................hasta 14 puntos\\nClaridad y Relevancia: claridad de la presentación y la relevancia de la información proporcionada en las piezas\\nbreves. Capacidad para transmitir la esencia de las actividades de manera fácilmente comprensible en poco\\ntiempo………………………………………………………………………………………………………………………………hasta 7 puntos\\nImpacto: impacto emocional y visual de las piezas breves. Capacidad de captar la atención del público de\\nmanera efectiva y dejar una impresión duradera en un corto período de tiempo…….……….hasta 7 puntos\\niii. La creatividad y adecuación de los grafismos de nueva creación aportados a las piezas.... hasta 5 puntos\\nOriginalidad y Cohesión: originalidad de los grafismos y su cohesión con la temática de las actividades.\\nCapacidad de crear elementos visuales únicos y relevantes para la narrativa cultural………hasta 3 puntos\\nPágina 11 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nEnriquecimiento Visual: los grafismos contribuyen a enriquecer la experiencia visual general de las actividades.\\nLos elementos visuales aportan valor y profundidad a la narrativa audiovisual………………..hasta 2 puntos\\nNo se tendrán en consideración a efectos de valoración ni, por tanto, a efectos de cómputo del número mínimo/máximo\\nde trabajos a aportar: (i) las grabaciones completas (brutos) ni las piezas que no alcancen los 20 segundos o excedan de\\nlos 5 minutos; ni (ii) las piezas cuya temática no sea cultural o medioambiental ni tengan por objeto actividades\\nequivalentes a las desarrolladas por la Fundación ni (iii) las piezas cuyo objeto/destino no sea la dinamización de las\\nactividades en redes sociales ni (iv) aquellas en las que no haya participado la persona que vaya a designarse como\\nresponsable de los trabajos.\\nPara poder llevar a cabo esta valoración, habrán de aportarse al menos 5 trabajos que cumplan los requisitos antedichos\\nde duración, temática y propósito, así como haberse acreditado que en todos ellos ha participado activamente la\\npersona que el licitador vaya a designar como responsable de los trabajos, aportando la declaración responsable referida\\nen el apartado H.2 anterior. En caso de no alcanzarse dicho número o de no haberse acreditado la autoría indicada de\\ntodos ellos, no podrá realizarse la valoración previa y, por tanto, se asignarán 0 puntos en este criterio.\\nLas propuestas técnicas presentadas deberán obtener una puntuación mínima de 34 puntos en la valoración de criterios\\nsujetos a juicio de valor establecidos en este apartado k.1.(B). La presentación de una propuesta técnica que no alcance\\nel mínimo exigido dará lugar a la exclusión de la misma del procedimiento de licitación.\\n2- Criterios de desempate:\\nSi dos o más proposiciones empatasen como proposición económicamente más ventajosa, tendrá preferencia en la\\nadjudicación las proposiciones presentadas por aquellas empresas que, sin estar sujetas a la obligación a que se refiere la\\ncláusula 18.1.a) del Pliego de Condiciones Reguladoras relativas a la contratación de trabajadores/as con minusvalía, en el\\nmomento de acreditar su solvencia técnica, tengan en su plantilla un número de trabajadores con discapacidad superior al\\n2 por 100. A efectos de aplicación de esta circunstancia los licitadores deberán acreditarla, en su caso, mediante los\\ncorrespondientes Contratos de trabajo y documentos de cotización a la Seguridad Social.\\nSi continuase el empate, tendrá preferencia en la adjudicación del Contrato el licitador que disponga del mayor porcentaje\\nde trabajadores fijos con discapacidad en su plantilla.\\nSi continuase el empate, tendrán preferencia en la adjudicación, las proposiciones presentadas por las empresas de\\ninserción reguladas en la Ley 44/2007, de 13 de diciembre, para la regulación del régimen de las empresas de inserción, que\\ncumplan con los requisitos establecidos en dicha normativa para tener esta consideración.\\nSi continuase el empate, tendrán preferencia en la adjudicación las proposiciones presentadas por aquellas empresas que,\\nen el momento de acreditar su solvencia técnica, desarrollen medidas destinadas a lograr la igualdad de oportunidades en\\natención a la identidad y expresión de género, de conformidad con el artículo 43.1 de la Ley 2/2016, de 29 de marzo, de\\nIdentidad y Expresión de Género e Igualdad Social y no Discriminación de la Comunidad de Madrid.\\nSi continuase el empate, tendrán preferencia en la adjudicación las proposiciones presentadas por aquellas empresas que,\\nen el momento de acreditar su solvencia técnica, desarrollen medidas destinadas a lograr la igualdad de oportunidades de\\nconformidad con lo dispuesto en el artículo 18.1 de la Ley 3/2016, de 22 de julio, de Protección Integral contra la LGTBifobia\\ny la Discriminación por Razón de Orientación e Identidad Sexual en la Comunidad de Madrid.\\nSi se produce empate entre dos o más empresas una vez tenidas en cuenta las circunstancias anteriores, se decidirá la\\npropuesta de adjudicación mediante sorteo.\\n3- Criterios para la consideración de ofertas anormalmente bajas:\\nEl importe que se tomará en consideración a efectos de determinar si la oferta es anormalmente baja, es el que resulte de\\nhallar la media ponderada de los precios unitarios ofertados por cada licitador:\\n- Valor de referencia (VR): media ponderada de los precios unitarios ofertados.\\nVR = (Pgmj_lab x 9) + (Pgmj_fdf x 7) + (Pgj_lab x 7) + (Pgj_fdf x 5) + (Pvc x 9) + (Pv1a5 x 5) + (Pctv x 5) + (Pmkf x 4)\\n(9 + 7 + 7 + 5 + 9 +5 + 5 + 4)\\nDonde:\\nPgmj_lab: Precio unitario grabación media jornada día laborable\\nPágina 12 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nPgmj_fdf: Precio unitario grabación media jornada fin de semana o festivo\\nPgj_lab: Precio unitario grabación una jornada día laborable\\nPgj_fdf: Precio unitario grabación una jornada fin de semana o festivo\\nPvc: Precio unitario elaboración de vídeo cortos (<1m)\\nPv1a5: Precio unitario elaboración de vídeo de 1 hasta 5'\\nPctv: Precio unitario compactado (5-15 min.)\\nPmkf: Precio unitario making off (incluye grabación)\\nSe considerarán, en principio, anormales o desproporcionadas las ofertas que se encuentren en los siguientes supuestos:\\na. Cuando, concurriendo un solo licitador, el valor de referencia presentado sea inferior a la media ponderada de los\\nprecios unitarios máximos indicados en el apartado C.1 de este Cuadro de características del contrato en más de 25\\nunidades porcentuales.\\nb. Cuando concurran dos licitadores, el valor de referencia que sea inferior en más de 20 unidades porcentuales al otro\\nvalor de referencia.\\nc. Cuando concurran tres licitadores, los valores de referencia que sean inferiores en más de 10 unidades porcentuales\\na la media aritmética de los valores de referencia presentados. No obstante, se excluirá para el cómputo de dicha\\nmedia el valor de referencia de cuantía más elevada cuando sea superior en más de 10 unidades porcentuales a dicha\\nmedia.\\nd. Cuando concurran cuatro o más licitadores, los valores de referencia que sean inferiores en más de 5 unidades\\nporcentuales a la media aritmética de los valores de referencia presentados. No obstante, si entre ellos existen valores\\nde referencia que sean superiores a dicha media en más de 10 unidades porcentuales, se procederá al cálculo de una\\nnueva media sólo con los valores de referencia que no se encuentren en el supuesto indicado. En todo caso, si el\\nnúmero de los restantes valores de referencia es inferior a tres, la nueva media se calculará sobre los tres valores de\\nreferencia de menor cuantía.\\nCuando se presenten individualmente ofertas pertenecientes al mismo grupo, para aplicar el régimen de apreciación de\\nofertas anormales o desproporcionadas, sólo se tomará en consideración la oferta con valor de referencia más baja de todas\\nlas presentadas por las empresas del grupo, excluyéndose las restantes a los efectos de este cálculo. Dicha regla será de\\naplicación a las ofertas presentadas en UTE por cualquier empresa del grupo con empresas no pertenecientes al mismo,\\ncon independencia del porcentaje que dicha empresa tenga en la Unión Temporal de Empresas. Se entenderá que una\\nempresa pertenece a un grupo empresarial, cuando se encuentre en alguno de los supuestos del artículo 42 del Código de\\nComercio.\\nEn los supuestos en los que, aplicando las reglas anteriores, el órgano de contratación estime que una oferta presenta\\nvalores anormales o desproporcionados, se dará audiencia al licitador que la hubiera presentado para que, en el plazo de\\ncuatro (4) días hábiles desde la notificación mediante la dirección de correo electrónico referida en el apartado A.4 del\\npresente cuadro de características del contrato que al efecto se realice, justifique la valoración de la oferta y las razones y\\ncircunstancias en cuya virtud resulta posible que la solución propuesta pueda ser efectivamente ejecutada en los términos\\nofertados. El licitador precisará las condiciones de la oferta, en particular en lo que se refiere al ahorro que permita el\\nprocedimiento de ejecución del Contrato, las soluciones técnicas adoptadas y las condiciones excepcionalmente favorables\\nde que disponga para ejecutar la prestación, la originalidad de las prestaciones propuestas, el respeto de las disposiciones\\nrelativas a la protección del empleo y las condiciones de trabajo vigentes en el lugar en que se vaya a realizar la prestación,\\no la posible obtención de una ayuda de Estado.\\nSi la oferta es anormal o desproporcionada debido a que el licitador ha obtenido una ayuda estatal, la Fundación Canal de\\nIsabel II sólo podrá rechazar dicha oferta por esa única razón si consulta al licitador y este no puede demostrar, en un plazo\\nsuficiente fijado por la Fundación Canal de Isabel II, que tal ayuda fue concedida de forma legal. Cuando en estas\\ncircunstancias, la Fundación Canal de Isabel II rechace una oferta, informará de ello a la Comisión Europea.\\nEl órgano de contratación acordará la adjudicación a favor de la mejor proposición que pueda ser cumplida a satisfacción\\nde la Fundación Canal de Isabel II.\\n4- Umbral mínimo de puntuación exigido al licitador para continuar el proceso selectivo: las propuestas técnicas presentadas\\ndeberán obtener una puntuación mínima de 34 puntos en la valoración de criterios sujetos a juicio de valor establecidos en el\\napartado k.1.(B) del presente Cuadro de características del contrato. La presentación de una propuesta técnica que no alcance\\nel mínimo exigido dará lugar a la exclusión de la misma del procedimiento de licitación.\\nPágina 13 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nL. CONDICIONES ESPECIALES DE EJECUCIÓN DEL CONTRATO\\nSi X | No\\nComo condiciones especiales de ejecución se establecen las siguientes:\\n- En todos los materiales que deban aportarse se evitará cualquier texto o imagen discriminatorios contra grupos\\nminoritarios de población, o cualquier manifestación discriminatoria por religión, sexo o raza.\\n- El adjudicatario deberá mantener adscrito a la ejecución del contrato y durante toda su vigencia (salvo causa de fuerza\\nmayor o ajena a su voluntad), al responsable de los trabajos cuya formación y experiencia se tuvo en cuenta a efectos\\nde evaluar la capacidad y solvencia (apartado G.2 previo) y cuyos trabajos se presentaron a efectos de valoración en\\nconsonancia con lo indicado en los apartados H.2 y K.1.(B) del presente documento.\\nM. PENALIDADES ESPECÍFICAS\\nCon carácter general, serán de aplicación al contrato las causas de resolución previstas en los artículos 211 y 313 de la LCSP.\\nDe igual modo serán causa de resolución, junto con las demás recogidas en la cláusula 22.4 del Pliego de condiciones\\nreguladoras, la falta de ejecución adecuada o incumplimiento de las directrices que para cada actividad le hayan sido facilitadas\\npor la Fundación, la falta de calidad de las grabaciones realizadas en ejecución del presente contrato, tanto desde un punto de\\nvista material (aspectos técnicos o de tipo creativo), como de contenido (si el trabajo entregado fuera incompleto o no reflejara\\nde modo fidedigno la actividad objeto de tal trabajo). Será igualmente causa de resolución la demora en la entrega de un\\ntrabajo que conlleve la imposibilidad de publicar el mismo en un plazo razonable desde la celebración de la actividad a la que\\nel mismo haga referencia. Todo ello sin perjuicio de la posibilidad de imponer penalidades al adjudicatario por dichos\\nincumplimientos en los términos prevenidos a continuación.\\nA los efectos de la presente licitación y adicionalmente a las previstas en otros documentos o apartados de la documentación\\ncontractual, se considerarán faltas graves las siguientes:\\n- Falta de calidad técnica de los trabajos entregados o si los mismos no reflejan de forma completa la actividad\\nencomendada.\\n- Falta de asistencia a alguna de las actividades para las que ha sido contratado sin causa debidamente justificada.\\n- Incumplimiento de los plazos de entrega pactados o solicitud reiterada y sin justificación para ampliar los mismos.\\n- Incumplimiento de las instrucciones recibidas de la Fundación con relación a los aspectos que debieron tomarse en cuenta\\npara la realización de los trabajos encomendados.\\nY falta muy grave:\\n- Incumplimiento de las instrucciones recibidas de la Fundación con relación a las personas que no pueden aparecer en las\\ngrabaciones y vídeos, por no haberlo consentido.\\nCada falta podrá dar lugar a una amonestación por escrito instando en su caso, a su subsanación. En caso de que no se proceda\\na la subsanación, la Fundación podrá aplicar una penalización por incumplimiento o retraso, según corresponda, en\\nconsonancia con lo establecido en la cláusula 21.3 del Pliego de condiciones reguladoras. Adicionalmente, cuando se hayan\\nrealizado tres amonestaciones por escrito, por cualquiera de los hechos previamente indicados, la Fundación Canal de Isabel\\nII podrá resolver el Contrato.\\nLas penalizaciones previstas en el presente apartado tienen carácter acumulativo y no sustitutivo, a los efectos de lo dispuesto\\nen el artículo 1.152 del Código Civil.\\nA los efectos de lo previsto en el artículo 1.153 del Código Civil, el adjudicatario penalizado, además de satisfacer la penalización\\nen los términos previstos en el párrafo siguiente, deberá cumplir las obligaciones cuyo incumplimiento o retraso se penaliza.\\nLas penalizaciones se detraerán de las cantidades pendientes de pago. En caso de que no existan cantidades pendientes de\\npago, las penalizaciones se harán efectivas con cargo a la garantía definitiva, en caso de haberse constituido ésta. En otro caso,\\ndeberán ser directamente satisfechas por el adjudicatario a la Fundación Canal. En el supuesto de que se hayan hecho efectivas\\ncon cargo a la referida garantía determinadas penalizaciones, el adjudicatario estará obligado a ampliar la garantía en la\\ncantidad que corresponda hasta que ésta alcance el valor del 5% del presupuesto de licitación del Contrato.\\nPágina 14 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nLa aplicación y el pago de las penalizaciones no excluyen la indemnización a que la Fundación Canal de Isabel II pueda tener\\nderecho por daños y perjuicios ocasionados con motivo del incumplimiento imputable al contratista.\\nN. SEGURO DE RESPONSABILIDAD CIVIL A PRESENTAR POR EL ADJUDICATARIO\\nSi | X No\\nÑ. MODIFICACIÓN DEL CONTRATO\\nSi | X No\\nO. POSIBILIDAD DE SUBCONTRATACIÓN\\nSi X | No\\nSerá de aplicación la cláusula 20.2 del Pliego de condiciones reguladoras.\\nDado que se han valorado, según lo indicado en los apartados H.2 y K.1.(B) del presente documento, los trabajos realizados\\npor la persona que el adjudicatario adscribirá a la ejecución del contrato como responsable de los trabajos y ser las\\nprestaciones objeto de esta licitación de carácter artístico y personalísimas, el adjudicatario NO PODRÁ SUBCONTRATAR con\\nterceros la labor de dicho responsable.\\nSin perjuicio de lo expuesto, sí podrá subcontratarse un equipo que realice, de facto, cualquiera de las tareas requeridas para\\nla prestación del servicio, incluyendo los aspectos creativos, siempre que participen bajo la supervisión y dirección del\\nresponsable de los trabajos.\\nP. SUBROGACIÓN\\nSi | X No\\nQ. TRATAMIENTO DE DATOS RESPONSABILIDAD DE LA FUNDACIÓN POR EL ADJUDICATARIO\\nSi X | No\\nFinalidad del tratamiento: utilización de los datos que se indican a continuación respecto de cada categoría de interesados\\npara la elaboración de los trabajos que constituyen el objeto de los servicios.\\nActividades de tratamiento que se llevarán a cabo:\\n☒Recogida ☒ Registro ☐Estructuración ☒Modificación\\n☒Conservación ☐Extracción ☒ Consulta ☒ Acceso\\n☐Difusión ☐Interconexión ☐ Cotejo ☐ Limitación\\n☐Supresión ☐Destrucción ☐Comunicación ☐ Otros (detallar)\\nCategoría de los interesados a cuyos datos va a acceder:\\n- Asistentes anónimos a las actividades (público).\\n- Colaboradores que participan en las actividades (presentadores, ponentes, comisarios, moderadores, músicos e intérpretes,\\nmonitores de talleres, guías, etc.).\\n- Empleados de la Fundación que participan en la organización de los eventos o personal de apoyo contratado por ésta a tal\\nfin.\\n- Artistas o autores cuya obra se expone o divulga.\\nTipo de datos a los que se va a acceder:\\n-En el caso de asistentes anónimos a las actividades: imagen y voz.\\n-En el caso de los colaboradores que participan en las actividades (presentadores, ponentes, comisarios, moderadores,\\nmúsicos e intérpretes, monitores de talleres, guías, etc.) o celebridades e influencers que pudieran asistir a los mismos:\\nnombre, apellidos, cargo-institución, datos profesionales o académicos, imagen, voz.\\n-En el caso de los empleados de la Fundación que participan en la organización de los eventos: nombre y apellido, cargo,\\nimagen y voz.\\n-En el caso de personal de apoyo contratado por la Fundación: imagen.\\n-En el caso de artistas cuya obra se expone: nombre, apellidos, datos profesionales o académicos, imagen y voz.\\nR. RECURSO ESPECIAL\\nSi X | No\\nPágina 15 de 15\\nCUADRO DE CARACTERÍSTICAS DEL CONTRATO 07/2024 DE “SERVICIOS\\nAUDIOVISUALES PROFESIONALES PARA LA PREPRODUCCIÓN, PRODUCCIÓN\\nY POSTPRODUCCIÓN DE VÍDEOS CORTOS PARA LA PROMOCIÓN Y DIFUSIÓN\\nDE ACTIVIDADES DE LA FUNDACIÓN CANAL”\\nS. ÍNDICE DE ANEXOS\\nANEXO I MODELO DE SOLICITUD (SOBRE Nº1)\\nANEXO II INSTRUCCIONES DOCUMENTO ÚNICO EUROPEO DE CONTRATACIÓN (DEUC) (SOBRE Nº1)\\nANEXO III MODELO OFERTA ECONÓMICA (SOBRE Nº 3)\\nANEXO IV MODELO DE DECLARACIÓN DE EMPRESAS VINCULADAS EN EL MISMO GRUPO (SOBRE Nº1)\\nMadrid, a 9 de septiembre de 2024\\nEva Tormo\\nDIRECTORA GERENTE\"\n  }"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        0
      ],
      "id": "3f57fc0b-315d-415e-8412-e7cc12a14cc1",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Analiza el siguiente texto del “Cuadro de Características del Contrato” de una licitación pública audiovisual en España.\n\nDevuelve SOLO un JSON con los siguientes campos, rellenando todo lo que puedas. Si un dato no existe, usa null (no inventes).  \nIdentifica bien los importes, la duración y el objeto.\n\n{\n  \"file_name\": \"{{$json['fileName']}}\",\n  \"doc_type\": \"cuadro_caracteristicas\",\n  \"basics\": {\n    \"entidad contratante\": \"string|null\"\n    \"objeto\": \"string|null\",\n    \"expediente\": \"string|null\",\n    \"procedimiento\": \"string|null\",\n    \"armonizada\": \"si|no|null\",\n    \"duracion_inicial_meses\": \"number|null\",\n    \"prorrogable_hasta_meses\": \"number|null\",\n    \"lugar_ejecucion\": \"string|null\"\n  },\n  \"economia\": {\n    \"presupuesto_iva_excl\": \"number|null\",\n    \"iva\": \"number|null\",\n    \"presupuesto_iva_incl\": \"number|null\",\n    \"valor_estimado\": \"number|null\",\n    \"revision_precios\": \"si|no|null\",\n    \"sistema_precio\": \"tanto_alzado|unitarios|tarifas|otro|null\"\n  },\n  \"resumen_ejecutivo_av\": \"string\"\n}\n\nTexto a analizar:\n\"\"\"{{ $json.text_clean }}\"\"\"\n",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        288,
        0
      ],
      "id": "cd9bfd11-75c1-46a7-99dc-fb343b4b41d6",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "oA6THKJAOrrLFbwX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appy90SZWU2Agcxq6",
          "mode": "list",
          "cachedResultName": "Caracteristicas de contratos",
          "cachedResultUrl": "https://airtable.com/appy90SZWU2Agcxq6"
        },
        "table": {
          "__rl": true,
          "value": "tblP8smrN0NiX8LJU",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appy90SZWU2Agcxq6/tblP8smrN0NiX8LJU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Expediente": "={{ $json.message.content.basics.expediente }}",
            "Objeto": "={{ $json.message.content.basics.objeto }}",
            "Procedimiento": "={{ $json.message.content.basics.procedimiento }}",
            "Armonizada": "={{ $json.message.content.basics.armonizada }}",
            "Duracion inicial": "={{ Number($json.message.content.basics.duracion_inicial_meses) }} meses",
            "Prorrogable hasta": "={{ Number($json.message.content.basics.prorrogable_hasta_meses) }} dias",
            "Lugar de ejecucion": "={{ $json.message.content.basics.lugar_ejecucion }}",
            "Presupuesto sin IVA": "={{ Number($json.message.content.economia.presupuesto_iva_excl) }}€",
            "IVA": "={{ Number($json.message.content.economia.iva) }} iva",
            "Presupuesto IVA Incluido": "={{ Number($json.message.content.economia.presupuesto_iva_incl) }}€",
            "Valor estimado": "={{ Number($json.message.content.economia.valor_estimado) }}€",
            "Revision de precios": "={{ $json.message.content.economia.revision_precios }}",
            "Sistema de precios": "={{ $json.message.content.economia.sistema_precio }}",
            "Resumen": "={{ $json.message.content.resumen_ejecutivo_av }}",
            "entidad contratante": "={{ $json.message.content.basics['entidad contratante'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "entidad contratante",
              "displayName": "entidad contratante",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Expediente",
              "displayName": "Expediente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Objeto",
              "displayName": "Objeto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Procedimiento",
              "displayName": "Procedimiento",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Armonizada",
              "displayName": "Armonizada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Duracion inicial",
              "displayName": "Duracion inicial",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prorrogable hasta",
              "displayName": "Prorrogable hasta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lugar de ejecucion",
              "displayName": "Lugar de ejecucion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Presupuesto sin IVA",
              "displayName": "Presupuesto sin IVA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IVA",
              "displayName": "IVA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Presupuesto IVA Incluido",
              "displayName": "Presupuesto IVA Incluido",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Valor estimado",
              "displayName": "Valor estimado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Revision de precios",
              "displayName": "Revision de precios",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sistema de precios",
              "displayName": "Sistema de precios",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Resumen",
              "displayName": "Resumen",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        656,
        0
      ],
      "id": "e46e212c-61aa-4d1b-97d8-c1deda0b6ca3",
      "name": "Create a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- Limpieza de texto procedente de PDF ---\nlet texto = $input.first().json.text;\n\n// 2️⃣ Elimina números de página (\"Página X de Y\")\ntexto = texto.replace(/Página\\s+\\d+\\s+de\\s+\\d+/gi, \"\");\n\n// 4️⃣ Elimina líneas en blanco múltiples\ntexto = texto.replace(/\\n\\s*\\n+/g, \"\\n\");\n\n// 5️⃣ Elimina guiones o símbolos repetitivos\ntexto = texto.replace(/[-–•]{2,}/g, \"\");\n\n// 6️⃣ Corrige espacios duplicados\ntexto = texto.replace(/\\s{2,}/g, \" \");\n\n// 🔹 Eliminar puntos suspensivos, guiones o signos repetidos\ntexto = texto.replace(/[•·–—\\-]{2,}/g, \"\");\ntexto = texto.replace(/\\.+/g, \".\");\n\n// 7️⃣ Corta partes redundantes (como índices o pies de página)\ntexto = texto.replace(/ÍNDICE[\\s\\S]*?CAPÍTULO\\s+I/gi, \"CAPÍTULO I\");\n\n// 8️⃣ (Opcional) Corta longitud si excede 60.000 caracteres\nif (texto.length > 60000) {\n  texto = texto.slice(0, 60000);\n}\n\nreturn {\n  json: {\n    tipo: $json.tipo,\n    fileName: $json.fileName,\n    text_clean: texto\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        0
      ],
      "id": "5c405696-c5f4-44c6-8fc9-2d6a18b5c6b7",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-24T16:50:44.710Z",
      "createdAt": "2025-10-24T16:50:44.710Z",
      "role": "workflow:owner",
      "workflowId": "yY4criK2rs0nHaaQ",
      "projectId": "u2lnFFYk1yGEaOcS"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-27T17:11:42.000Z",
  "versionId": "4afb6b4c-0a08-4149-9d08-ae6f39c22651"
}