workflows/AV - Ingesta y análisis de pliegos (IA).json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Extraer texto del archivo": {
      "main": [
        [
          {
            "node": "Normalizar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar texto": {
      "main": [
        [
          {
            "node": "¿Texto extraído?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Texto extraído?": {
      "main": [
        [
          {
            "node": "IA - Extraer datos del pliego",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salida error (sin texto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "IA - Extraer datos del pliego",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Recibir pliego": {
      "main": [
        [
          {
            "node": "Extraer texto del archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA - Extraer datos del pliego": {
      "main": [
        [
          {
            "node": "Salida estructurada (respuesta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salida estructurada (respuesta)": {
      "main": [
        [
          {
            "node": "Resumen de decisión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-08T12:11:34.736Z",
  "id": "rGH8sBo0uN6LKWMEDjZdG",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AV - Ingesta y análisis de pliegos (IA)",
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -144,
        336
      ],
      "id": "970f4757-ccc6-421a-9ea3-a5edc6cc3cd8",
      "name": "Extraer texto del archivo"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza texto extraído del PDF.\n// - Limpia whitespace y saltos de línea redundantes.\n// - Trunca a 100.000 caracteres para proteger la ventana de contexto del LLM.\n\nconst MAX_CHARS = 100000;\n\nreturn items.map((item) => {\n  const j = item.json || {};\n  const bin = item.binary?.data || {};\n\n  let text = \"\";\n\n  if (typeof j.text === \"string\") text = j.text;\n  else if (typeof j.data === \"string\") text = j.data;\n  else if (Array.isArray(j.data)) text = j.data.join(\"\\n\");\n  else if (typeof j.content === \"string\") text = j.content;\n  else if (typeof j.body === \"string\") text = j.body;\n\n  text = (text || \"\")\n    .replace(/\\r/g, \"\")\n    .replace(/[ \\t]+\\n/g, \"\\n\")\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n\n  const text_original_length = text.length;\n  const truncated = text.length > MAX_CHARS;\n  if (truncated) {\n    text = text.substring(0, MAX_CHARS);\n  }\n\n  item.json = {\n    ...j,\n    document_text: text,\n    text_original_length,\n    text_truncated: truncated,\n    file_name: bin.fileName ?? j.file_name ?? null,\n    mime_type: bin.mimeType ?? j.mime_type ?? null,\n    received_at: j.received_at ?? new Date().toISOString(),\n  };\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        336
      ],
      "id": "3e925c69-4633-4fdb-bd01-2b36096489e7",
      "name": "Normalizar texto"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.document_text }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        352,
        336
      ],
      "id": "b6b4e4ec-68b7-4255-aa6e-3574d8decd2c",
      "name": "¿Texto extraído?"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        608
      ],
      "id": "6bca44e4-b808-429d-8f62-19bb62bdcb9f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oA6THKJAOrrLFbwX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Salida estructurada: ensambla metadatos + output de la IA.\n\nreturn items.map((item) => {\n  const data = item.json || {};\n  const o = data.output || {};\n\n  const now = new Date().toISOString();\n  const project_id = `PLIEGO-${now.replace(/[-:TZ.]/g, \"\").slice(0, 14)}`;\n\n  item.json = {\n    project_id,\n    processed_at: now,\n    source: {\n      file_name: data.file_name ?? null,\n      mime_type: data.mime_type ?? null,\n      received_at: data.received_at ?? null,\n      text_original_length: data.text_original_length ?? null,\n      text_truncated: data.text_truncated ?? false,\n    },\n    ...data,\n  };\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        320
      ],
      "id": "f82e359e-0075-467c-ab00-a2788a493b06",
      "name": "Salida estructurada (respuesta)"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { error: true, message: 'No se ha podido extraer texto del archivo. Envía un PDF con texto seleccionable o añade OCR externo (Google Document AI / PDF.co / etc.).', received_at: $json.received_at ?? new Date().toISOString(), file_name: $json.file_name ?? null, mime_type: $json.mime_type ?? null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        544
      ],
      "id": "29b3537a-ce70-46a3-a535-ee9df27ae984",
      "name": "Salida error (sin texto)"
    },
    {
      "parameters": {
        "content": "### Flujo WF1: Ingesta y análisis de pliegos AV\n\n**Trigger** → Extraer PDF → Normalizar (trunca a 100K) → IF texto → IA GPT-5.1 → Salida estructurada → **Resumen de decisión**\n\nEl nodo final muestra un resumen con los datos clave para decidir si lanzar el WF2 (Ingeniería técnica).\n",
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        48
      ],
      "id": "41607751-d4dc-44ef-9fe6-88adea4d94db",
      "name": "NOTA"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -528,
        320
      ],
      "id": "eb2c3a1c-e17b-4b25-82bf-d9456a3eed09",
      "name": "Webhook - Recibir pliego",
      "webhookId": "9b62726c-c6f4-4a44-9831-1492f805f688"
    },
    {
      "parameters": {
        "text": "={{ $json.document_text }}",
        "schemaType": "fromJson",
        "jsonSchemaExample": "{\n  \"cliente\": \"ACME S.L.\",\n  \"ubicacion\": {\n    \"direccion\": \"Calle Ejemplo 123\",\n    \"ciudad\": \"Madrid\",\n    \"provincia\": \"Madrid\",\n    \"pais\": \"ES\"\n  },\n  \"tipo_proyecto\": \"Sala de reuniones\",\n  \"resumen_ejecutivo\": \"Resumen breve y claro del encargo.\",\n  \"alcance_tecnico\": {\n    \"descripcion\": \"Qué hay que instalar/mantener y hasta dónde llega el alcance.\",\n    \"sistemas\": [\n      \"Audiovisuales\",\n      \"Control\",\n      \"Videoconferencia\",\n      \"Streaming\",\n      \"Cartelería digital\",\n      \"Audio\",\n      \"Iluminación\",\n      \"Red\"\n    ],\n    \"tareas_principales\": [\n      \"Suministro\",\n      \"Instalación\",\n      \"Configuración\",\n      \"Integración\",\n      \"Puesta en marcha\",\n      \"Formación\",\n      \"Mantenimiento\"\n    ]\n  },\n  \"equipamiento_requerido\": [\n    {\n      \"categoria\": \"Pantallas\",\n      \"items\": [\n        \"Pantalla 86\\\" 4K\"\n      ],\n      \"cantidad_aprox\": 2,\n      \"notas\": \"Si el pliego no indica cantidades, usar null en cantidad_aprox.\"\n    }\n  ],\n  \"integraciones_y_protocolos\": [\n    \"HDMI\",\n    \"HDBaseT\",\n    \"Dante\",\n    \"AES67\",\n    \"NDI\",\n    \"SDVoE\",\n    \"Q-SYS\",\n    \"Crestron\",\n    \"Extron\",\n    \"RS-232\",\n    \"IP\",\n    \"PJLink\"\n  ],\n  \"fechas\": {\n    \"publicacion_pliego\": null,\n    \"visita_tecnica\": null,\n    \"fecha_limite_preguntas\": null,\n    \"fecha_entrega_oferta\": null,\n    \"inicio_estimado\": null,\n    \"fin_estimado\": null\n  },\n  \"presupuesto\": {\n    \"importe\": null,\n    \"moneda\": \"EUR\",\n    \"detalles\": null\n  },\n  \"criterios_adjudicacion\": [\n    { \"criterio\": \"Precio\", \"peso\": null, \"detalle\": null },\n    { \"criterio\": \"Calidad técnica\", \"peso\": null, \"detalle\": null },\n    { \"criterio\": \"Plazo\", \"peso\": null, \"detalle\": null }\n  ],\n  \"requisitos_documentales\": [\n    \"Documentación administrativa\",\n    \"Memoria técnica\",\n    \"Planificación\"\n  ],\n  \"requisitos_tecnicos_clave\": [\n    \"Compatibilidad con infraestructura existente\",\n    \"Garantías\",\n    \"SLA\"\n  ],\n  \"riesgos_y_ambiguedades\": [\n    \"Puntos del pliego poco claros o contradictorios\"\n  ],\n  \"preguntas_recomendadas_al_cliente\": [\n    \"Preguntas para aclarar alcance, obra civil, red, plazos, marcas admitidas\"\n  ],\n  \"secciones_importantes\": [\n    \"Objeto\",\n    \"Alcance\",\n    \"Prescripciones técnicas\",\n    \"Criterios\",\n    \"Plazos\"\n  ],\n  \"secciones_poco_relevantes\": [\n    \"Historia de la entidad\"\n  ],\n  \"palabras_clave\": [\n    \"sala\",\n    \"auditorio\",\n    \"pantallas\",\n    \"microfonía\",\n    \"DSP\",\n    \"control\",\n    \"videoconferencia\"\n  ],\n  \"clasificacion\": {\n    \"linea_negocio\": \"Salas de reuniones\",\n    \"complejidad\": \"Media\",\n    \"prioridad\": \"Media\",\n    \"probabilidad_ganar\": \"Media\",\n    \"motivo\": \"Justificación corta basada en señales del pliego (plazo, requisitos, competencia, etc.)\"\n  }\n}",
        "options": {
          "systemPromptTemplate": "ROL\nAnalista experto en licitaciones de instalaciones audiovisuales profesionales.\n\nTAREA\nExtrae los datos del pliego y devuelve UN ÚNICO JSON válido.\n\nREGLAS (CRÍTICO)\n1. Solo JSON válido. Sin markdown, sin bloques de código, sin texto extra.\n2. Dato ausente → null. Lista ausente → [].\n3. Fechas: YYYY-MM-DD o null.\n4. presupuesto.importe: número o null (sin símbolos €/$).\n5. criterios_adjudicacion.peso: número 0-100 o null.\n6. equipamiento_requerido.cantidad_aprox: número o null.\n7. pais: código ISO 2 letras (ES, FR, US…).\n8. No inventes datos.\n\nESTRUCTURA EXACTA\n- cliente, ubicacion (direccion, ciudad, provincia, pais)\n- tipo_proyecto, resumen_ejecutivo\n- alcance_tecnico (descripcion, sistemas[], tareas_principales[])\n- equipamiento_requerido: lista de (categoria, items[], cantidad_aprox, notas)\n- integraciones_y_protocolos: lista\n- fechas (publicacion_pliego, visita_tecnica, fecha_limite_preguntas, fecha_entrega_oferta, inicio_estimado, fin_estimado)\n- presupuesto (importe, moneda, detalles)\n- criterios_adjudicacion: lista de (criterio, peso, detalle)\n- requisitos_documentales, requisitos_tecnicos_clave: listas\n- riesgos_y_ambiguedades, preguntas_recomendadas_al_cliente: listas\n- secciones_importantes, secciones_poco_relevantes, palabras_clave: listas\n- clasificacion (linea_negocio, complejidad, prioridad, probabilidad_ganar, motivo)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        656,
        288
      ],
      "id": "f6dc5851-cafe-40ff-9633-eb42c1f0d80a",
      "name": "IA - Extraer datos del pliego"
    },
    {
      "parameters": {
        "jsCode": "// Resumen de decisión: muestra datos clave para decidir si ejecutar WF2.\n\nconst data = $input.first().json;\nconst o = data.output || {};\nconst clas = o.clasificacion || {};\nconst pres = o.presupuesto || {};\nconst fechas = o.fechas || {};\nconst ubic = o.ubicacion || {};\nconst equip = o.equipamiento_requerido || [];\n\n// Contar items totales\nconst totalItems = equip.reduce((sum, cat) => sum + (cat.items?.length || 0), 0);\nconst categorias = equip.map(e => `  - ${e.categoria}: ${e.items?.length || 0} items${e.cantidad_aprox ? ` (×${e.cantidad_aprox})` : ''}`).join('\\n');\n\nconst ubicTxt = [ubic.ciudad, ubic.provincia, ubic.pais].filter(Boolean).join(', ');\n\nconst importe = pres.importe != null\n  ? `${Number(pres.importe).toLocaleString('es-ES')} ${pres.moneda || 'EUR'}`\n  : 'No especificado';\n\nconst resumen = [\n  '═══════════════════════════════════════════',\n  '  RESUMEN DE ANÁLISIS — DECISIÓN WF2',\n  '═══════════════════════════════════════════',\n  '',\n  `📋 Proyecto: ${data.project_id}`,\n  `📄 Archivo:  ${data.source?.file_name || 'N/D'}`,\n  `🕐 Procesado: ${data.processed_at}`,\n  '',\n  '───────────────────────────────────────────',\n  '  DATOS CLAVE',\n  '───────────────────────────────────────────',\n  `Cliente:      ${o.cliente || 'N/D'}`,\n  `Ubicación:    ${ubicTxt || 'N/D'}`,\n  `Tipo:         ${o.tipo_proyecto || 'N/D'}`,\n  `Presupuesto:  ${importe}`,\n  '',\n  '───────────────────────────────────────────',\n  '  CLASIFICACIÓN',\n  '───────────────────────────────────────────',\n  `Línea negocio:     ${clas.linea_negocio || 'N/D'}`,\n  `Complejidad:       ${clas.complejidad || 'N/D'}`,\n  `Prioridad:         ${clas.prioridad || 'N/D'}`,\n  `Prob. ganar:       ${clas.probabilidad_ganar || 'N/D'}`,\n  `Motivo:            ${clas.motivo || 'N/D'}`,\n  '',\n  '───────────────────────────────────────────',\n  '  EQUIPAMIENTO',\n  '───────────────────────────────────────────',\n  `Categorías: ${equip.length} | Items totales: ${totalItems}`,\n  categorias || '  (sin equipamiento detectado)',\n  '',\n  '───────────────────────────────────────────',\n  '  FECHAS CLAVE',\n  '───────────────────────────────────────────',\n  `Entrega oferta:  ${fechas.fecha_entrega_oferta || 'N/D'}`,\n  `Inicio estimado: ${fechas.inicio_estimado || 'N/D'}`,\n  `Fin estimado:    ${fechas.fin_estimado || 'N/D'}`,\n  '',\n  '───────────────────────────────────────────',\n  '  RESUMEN EJECUTIVO',\n  '───────────────────────────────────────────',\n  o.resumen_ejecutivo || 'No disponible',\n  '',\n  '═══════════════════════════════════════════',\n  '  ¿Ejecutar WF2 (Ingeniería técnica)?',\n  '  → Lanza el workflow 2 con el JSON de',\n  '    salida de este análisis.',\n  '═══════════════════════════════════════════',\n].join('\\n');\n\nreturn [{\n  json: {\n    ...data,\n    _resumen_decision: resumen,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        320
      ],
      "id": "5edd9a92-df2b-4109-ab86-0f89659e50f1",
      "name": "Resumen de decisión"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-08T12:11:34.749Z",
      "createdAt": "2026-03-08T12:11:34.749Z",
      "role": "workflow:owner",
      "workflowId": "rGH8sBo0uN6LKWMEDjZdG",
      "projectId": "u2lnFFYk1yGEaOcS"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-25T14:04:20.000Z",
  "versionId": "aae2fd73-cc5e-49d0-bf22-d0d90d7b9962"
}