workflows/Chatbot Salud - Telegram.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Filtro solo mensajes de texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro solo mensajes de texto": {
      "main": [
        [
          {
            "node": "Agente de Salud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Salud": {
      "main": [
        [
          {
            "node": "Enviar respuesta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria por chat": {
      "ai_memory": [
        [
          {
            "node": "Agente de Salud",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "buscar_base_datos_salud": {
      "ai_tool": [
        [
          {
            "node": "Agente de Salud",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "modelo": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Salud",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-24T18:05:01.357Z",
  "id": "-QQRmUBjStL-e6JffbM8W",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Chatbot Salud - Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a2b2c94e-9278-4e38-a921-e24d61835912",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "chatbot-salud-webhook",
      "credentials": {
        "telegramApi": {
          "id": "n08JAEpIKZ4MM88M",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4743564b-c283-4a1a-813e-7b587347ddfb",
      "name": "Filtro solo mensajes de texto",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Eres un asistente experto en salud natural, nutrición y medicina alternativa. Tu conocimiento proviene de libros especializados como los de Frank Suárez (Metabolismo, Diabetes), El Estudio de China, Andreas Moritz, y otros libros de salud natural.\n\nCuando el usuario haga una pregunta sobre salud, SIEMPRE usa la herramienta 'buscar_base_datos_salud' para buscar información relevante en la base de datos antes de responder. Esto te dará contexto real de los libros.\n\nInstrucciones:\n- Responde siempre en español\n- Usa la información de la base de datos como fuente principal\n- Cuando cites información de los libros, menciona de qué fuente proviene si está disponible\n- Sé claro, empático y práctico en tus respuestas\n- Para preguntas complejas, busca 2-3 veces con diferentes términos\n- IMPORTANTE: Siempre añade al final: '⚠️ Esta información es educativa y no sustituye la consulta médica profesional.'\n- Si la pregunta no es de salud, responde amablemente e indica que estás especializado en salud natural"
        }
      },
      "id": "941cd62b-7402-45fc-b7fc-9b4501cc5077",
      "name": "Agente de Salud",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        464,
        0
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 8
      },
      "id": "dea3ed53-1fbe-4415-a43f-582bee49d2a3",
      "name": "Memoria por chat",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        464,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://vectordb-api-salud:8809/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{query}\",\n  \"limit\": 5\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "query",
              "description": "La pregunta o términos de búsqueda sobre salud"
            }
          ]
        }
      },
      "id": "8a5bedc9-2cfd-470c-8a99-e9ac184c5a61",
      "name": "buscar_base_datos_salud",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "5523d736-acf0-45b6-a0e6-80ea7cae94e7",
      "name": "Enviar respuesta Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        0
      ],
      "webhookId": "8550a049-044d-4bd7-a87e-976c54156342",
      "credentials": {
        "telegramApi": {
          "id": "9OJrrfByOP432mSc",
          "name": "xavi"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {
          "maxTokens": 1500,
          "temperature": 0.3
        }
      },
      "id": "a6d0d8f6-d5cb-40f6-a903-fd1bd13d0722",
      "name": "modelo",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "oA6THKJAOrrLFbwX",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-24T18:05:01.366Z",
      "createdAt": "2026-03-24T18:05:01.366Z",
      "role": "workflow:owner",
      "workflowId": "-QQRmUBjStL-e6JffbM8W",
      "projectId": "u2lnFFYk1yGEaOcS"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-25T14:03:29.000Z",
  "versionId": "4de05c44-2a83-4bdb-ae6b-07c78a2947d1"
}