workflows/Md-INSTAGRAM.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Entrada Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busqueda en memoria": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir en memoria": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Añadir en memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Entrada Mensaje": {
      "main": [
        [
          {
            "node": "CREA URL DE CONVER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CREA URL DE CONVER": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nuevo o Comenzado": {
      "main": [
        [
          {
            "node": "Busqueda en memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categoria": {
      "main": [
        [
          {
            "node": "Nuevo o Comenzado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-30T17:00:23.179Z",
  "id": "wTRJXo4w4Lv6SSfM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Md-INSTAGRAM",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "instagram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        -576
      ],
      "id": "c309717b-5331-498e-8635-5b124beae7fb",
      "name": "Webhook",
      "webhookId": "189d8362-740e-4e45-a95e-d95c6b91055a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json[\"query\"][\"hub.challenge\"]}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -160,
        -576
      ],
      "id": "f53d36de-0f92-4ba4-b946-f7296da3b672",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{$json[\"body\"][\"entry\"][0][\"messaging\"][0][\"sender\"][\"id\"]}}/?fields=id,name,profile_pic&access_token=EAAPxpYsEr04BQCVdPfsApj1FrFb5a3Lvmuz1fV7RFqVMwHxnAkuIRjctz67DBRcbpwN0Vor0QBw2on9wAmNPFNfjrz4PySuJL77W9h6TtURHv6dvSZBY9JJKTebiemzpOTKM3egGCrlT86xuPATAalD9e3umoQ5zwNAxxxFBakZARAeEWKVfsCOT3GrlNNMnDL5SPbakOakR8yOBtJ4OpfwklzjokHKmpbXxH9McPlbDQI8i7skcd1VqO2CXvC6tZAPJN95Rt0Iqi5TPOkM",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -384,
        -352
      ],
      "id": "dd7805bb-b2df-4bd6-849d-944d999f42ad",
      "name": "IG - Datos usuario"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        -32
      ],
      "id": "d627c40e-5f30-4dc0-9ed4-8a5c9972fc97",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appAph3JrPjdbMEpM",
          "mode": "list",
          "cachedResultName": "inbox_mensajes.csv",
          "cachedResultUrl": "https://airtable.com/appAph3JrPjdbMEpM"
        },
        "table": {
          "__rl": true,
          "value": "tbl6eeDL3BXD2FdZQ",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/appAph3JrPjdbMEpM/tbl6eeDL3BXD2FdZQ"
        },
        "filterByFormula": "={Sender_ID} = '{{ $('Entrada Mensaje').item.json.body.entry[0].messaging[0].sender.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1088,
        -32
      ],
      "id": "804a2a77-75d5-4c58-a52e-5e7eab5508e8",
      "name": "Busqueda en memoria",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appAph3JrPjdbMEpM",
          "mode": "list",
          "cachedResultName": "inbox_mensajes.csv",
          "cachedResultUrl": "https://airtable.com/appAph3JrPjdbMEpM"
        },
        "table": {
          "__rl": true,
          "value": "tbl6eeDL3BXD2FdZQ",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/appAph3JrPjdbMEpM/tbl6eeDL3BXD2FdZQ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender_ID": "={{ $('Entrada Mensaje').item.json.body.entry[0].messaging[0].sender.id }}",
            "Mensaje": "={{ $('Entrada Mensaje').item.json.body.entry[0].messaging[0].message.text }}",
            "Categoría": "={{ $('Categoria').item.json.categoria }}",
            "Razón IA": "={{ $('Categoria').item.json.razon }}",
            "Estado Respuesta": "={{ $json['Estado Respuesta'] }}",
            "URL Conversación": "={{ $('CREA URL DE CONVER').item.json.URL }}",
            "Fecha Entrada": "={{ $now.toFormat(\"dd/LL/yyyy HH:mm:ss\") }}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sender_ID",
              "displayName": "Sender_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoría",
              "displayName": "Categoría",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Razón IA",
              "displayName": "Razón IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado Respuesta",
              "displayName": "Estado Respuesta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IGNORAR",
              "displayName": "IGNORAR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "IGNORAR",
                  "value": "IGNORAR"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL Conversación",
              "displayName": "URL Conversación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha Entrada",
              "displayName": "Fecha Entrada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1552,
        80
      ],
      "id": "7a338d63-b127-428e-95cb-e698d1e4cbf4",
      "name": "Añadir en memoria",
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1cade2a-6414-4e05-9eec-8df7312f3c73",
              "leftValue": "={{ $json.Estado_Usuario }}",
              "rightValue": "Comenzado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1312,
        -32
      ],
      "id": "7431c5da-2a7f-4031-86e5-9929aec4aad5",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Devuelve exactamente el mismo JSON que te llega desde el webhook\nreturn [\n  {\n    \"headers\": {\n      \"host\": \"n8n.silvasju.com\",\n      \"user-agent\": \"facebookexternalua\",\n      \"content-length\": \"396\",\n      \"accept\": \"*/*\",\n      \"accept-encoding\": \"gzip, br\",\n      \"cdn-loop\": \"cloudflare; loops=1\",\n      \"cf-connecting-ip\": \"2a03:2880:3ff:1::\",\n      \"cf-ipcountry\": \"US\",\n      \"cf-ray\": \"9ab7cbc2fc77cf1a-SJC\",\n      \"cf-visitor\": \"{\\\"scheme\\\":\\\"https\\\"}\",\n      \"cf-warp-tag-id\": \"f34171ea-87d5-492e-8a9c-2241c043f648\",\n      \"connection\": \"keep-alive\",\n      \"content-type\": \"application/json\",\n      \"instagram-api-version\": \"v23.0\",\n      \"x-forwarded-for\": \"2a03:2880:3ff:1::\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-hub-signature\": \"sha1=4e00be9c493581566750f589aa5d6486c13aa3f0\",\n      \"x-hub-signature-256\": \"sha256=01caf38a69bf6efa2a60785b35adc9349a220654b2449db259693ec90ca107a2\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"object\": \"instagram\",\n      \"entry\": [\n        {\n          \"time\": 1765317842164,\n          \"id\": \"17841478493404551\",\n          \"messaging\": [\n            {\n              \"sender\": {\n                \"id\": \"1579590933175269\"\n              },\n              \"recipient\": {\n                \"id\": \"17841478493404551\"\n              },\n              \"timestamp\": 1765317840361,\n              \"message\": {\n                \"mid\": \"aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDc4NDkzNDA0NTUxOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjAzNjYxNTIyOTYzNjMyMTozMjU2NDM2NjQwOTkwMjI4MTMyMjI1OTc3OTc2ODI4NzIzMgZDZD\",\n                \"text\": \"que ta grifo te habalaba para ver si podiamos quedar algun dia y hacer un video de aventuras para mi canal, y tambien hacemos algo para el tuyo ¿que te parece?\"\n              }\n            }\n          ]\n        }\n      ]\n    },\n    \"webhookUrl\": \"https://n8n.silvasju.com/webhook/instagram-webhook\",\n    \"executionMode\": \"production\"\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -32
      ],
      "id": "5831b4de-bb36-4c24-b34b-a4d18fcb84f6",
      "name": "Entrada Mensaje"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ef9e4c5-1330-4eb0-8217-73a4acfe042f",
              "name": "URL",
              "value": "=https://business.facebook.com/latest/inbox/all/?asset_id=894925823708082&business_id=1176769843952048&selected_item_id={{$json[\"body\"][\"entry\"][0][\"messaging\"][0][\"sender\"][\"id\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -32
      ],
      "id": "311d264c-fc82-4d53-8202-e29025b44890",
      "name": "CREA URL DE CONVER"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bd65d18-0d6f-40e7-bb70-7d58786ceaee",
              "name": "Estado_Usuario",
              "value": "={{ $json[\"id\"] ? \"Comenzado\" : \"Nuevo\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -32
      ],
      "id": "703916bf-0c73-4001-bea2-05fce3d6c5e6",
      "name": "Nuevo o Comenzado"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=# ROL\nEres un moderador y clasificador experto de mensajes directos (DMs) para una cuenta profesional de Instagram. Tu única función es analizar el texto entrante, detectar la intención y el tono palabra por palabra, y categorizarlo estrictamente en una de las 4 categorías definidas.\n\n# CATEGORÍAS (Explicadas al detalle)\n\n1. \"despectivos\":\n   - Asigna esta categoría si el mensaje contiene insultos, palabras obscenas, agresividad, odio, racismo, sexismo o una falta clara de educación y respeto.\n   - Incluso si es una propuesta de trabajo, si el lenguaje es insultante, prima esta categoría.\n\n2. \"trabajo\":\n   - Asigna esta categoría si el usuario propone servicios profesionales, colaboraciones laborales, edición de fotos/videos, servicios de IA, agencias de marketing o cualquier transacción comercial profesional.\n\n3. \"proposicion_contenido\":\n   - Asigna esta categoría si el usuario sugiere ideas para nuevos videos, temas para posts, retos, o pide que hables de un tema específico en tu cuenta.\n\n4. \"saludos\":\n   - Asigna esta categoría para mensajes casuales, \"hola\", \"buenos días\", reacciones con emojis simples, preguntas genéricas sobre cómo estás, o cualquier mensaje amistoso que no encaje en trabajo ni contenido.\n\n# INSTRUCCIONES DE ANÁLISIS\n1. Lee el mensaje completo.\n2. Analiza palabra por palabra buscando palabras clave (ej: \"tonto\" -> despectivo, \"editar\" -> trabajo, \"idea\" -> proposicion_contenido).\n3. Analiza el contexto semántico (ej: \"¿Qué tal?\" es saludo, pero \"¿Qué tal editas?\" es trabajo).\n4. Si un mensaje parece encajar en dos categorías, prioriza en este orden: despectivos > trabajo > proposicion_contenido > saludos.\n\n\n# EJEMPLOS DE CATEGORIA \"DESPECTIVO\"\n\nEntrada: \"Tú haces esos vídeos para que la gente te de comida gratis y aprovecharte de la gente que dan las cosas aprovechado eso es lo que eres y luego tus vídeos que son unas mentiras ©y luego que editas si tus edits lo hacen un niño de párvulo solo te aprovechas de la gente y haces que vas pasando frío y hambre Cuandl es mentira te recomiendo llamarte así en tus redes sociales grifo grifaprovechao\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"despectivos\", \"razon\": \"Contiene acusaciones agresivas e insultos\"}\n\nEntrada: \"Vaya mierda de perfil tienes, eres un inútil. No sé cómo no te da vergüenza subir esa basura de videos. Hazle un favor al mundo y borra la cuenta, payaso, que das pena ajena.\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"despectivos\", \"razon\": \"Uso de palabras obscenas e insultos directos\"}\n\nEntrada: \"Eres un puto estafador, deja de engañar a la gente con tus mentiras. No tienes ni puta idea de lo que hablas y solo quieres robar dinero. Ojalá te cierren la cuenta por ladrón y falso.\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"despectivos\", \"razon\": \"Solicitud clara de servicios profesionales\"}\n\nEntrada: \"Qué asco me da tu voz y tu cara, eres insoportable. Aprende a hablar antes de ponerte delante de una cámara, pareces retrasado. Me tienes harto, te voy a bloquear, idiota.\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"despectivos\", \"razon\": \"Solicitud clara de servicios profesionales\"}\n\n\n# EJEMPLOS DE CATEGORIA \"TRABAJO\"\n\nEntrada: \"Hola, te escribo porque quiero hacer un regalo muy especial a mi pareja. Me gustaría saber si ofreces el servicio de crear un video con IA uniendo una foto de ella y de su abuela fallecida dándose un abrazo real. ¿Podrías darme precio y plazos?\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"trabajo\", \"razon\": \"Solicitud de servicio video IA\"}\n\nEntrada: \"¡Buenas! He estado viendo tu contenido y creo que tienes mucho potencial, pero la edición se podría pulir para retener más audiencia. Soy editor profesional especializado en formato vertical (Reels/TikTok). Me gustaría que me editaras un pack de 3 vídeos para que probemos a trabajar juntos. ¿Te interesa?\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"trabajo\", \"razon\": \"Oferta servicios profesionales de edición\"}\n\nEntrada: \"Hola, te contactamos desde la agencia Creativa360. Representamos a una nueva app de finanzas y nos encaja mucho tu perfil para una colaboración remunerada. Sería un Reel y dos Stories explicando la app. ¿Podrías pasarnos tu media kit o tarifas actuales?\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"trabajo\", \"razon\": \"Propuesta de colaboración comercial remunerada\"}\n\nEntrada: \"Buenas tardes. Tengo una pequeña empresa de reformas y necesito a alguien que me lleve las redes sociales o me haga los vídeos corporativos con tu estilo. ¿Estás aceptando clientes nuevos ahora mismo o solo te dedicas a tu marca personal?\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"trabajo\", \"razon\": \"Busca contratar servicios para empresa\"}\n\nEntrada: \"Muy buenas grifo, te hablaba por si haciamos una colaboracion juntos en un video y hacemos un par de tiktoks juntos\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"trabajo\", \"razon\": \"Colaboracion de contenido\"}\n\n\n\n# EJEMPLOS DE CATEGORIA \"PROPOSICION CONTENIDO\"\n\nEntrada: \"Me encanta cómo quedan tus colores. ¿Podrías hacer un vídeo explicando paso a paso cómo haces la corrección de color en Premiere? Me ayudaría muchísimo.\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"proposicion_contenido\", \"razon\": \"Solicita tutorial técnico sobre color\"}\n\nEntrada: \"¡Tienes que probar el reto de editar una foto en menos de 1 minuto! Lo he visto en otras cuentas y seguro que tú lo haces genial, molaría ver tu intento.\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"proposicion_contenido\", \"razon\": \"Propone unirse a reto viral\"}\n\nEntrada: \"Hola, estaría genial que un día hablaras sobre si merece la pena pagar por la verificación de Instagram. Tengo dudas y me fío de tu criterio.\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"proposicion_contenido\", \"razon\": \"Sugiere tema de opinión específico\"}\n\nEntrada: \"¿Has pensado en hacer directos los domingos analizando perfiles de seguidores? Creo que aprenderíamos mucho viendo cómo corriges fallos en tiempo real.\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"proposicion_contenido\", \"razon\": \"Propone nueva sección de análisis\"}\n\n\n\n# EJEMPLOS DE CATEGORIA \"SALUDOS\"\n\nEntrada: \"Buenos días máquina, espero que tengas un día genial hoy y vaya todo muy bien.\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"saludo\", \"razon\": \"Saludo amistoso de buenos días\"}\n\nEntrada: \"Hola, ¿qué tal todo? Hace tiempo que te sigo y me caéis muy bien tú y tu equipo.\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"saludo\", \"razon\": \"Uso de palabras obscenas e insultos directos\"}\n\nEntrada: \"Eres el mejor 🔥🔥🔥\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"saludo\", \"razon\": \"Solicitud clara de servicios profesionales\"}\n\nEntrada: \"Eres la ostia tio, me entretienen un monton tus videos\"\nSalida: {\"mensaje_original\": \"...\", \"categoria\": \"saludo\", \"razon\": \"Alago\"}\n\n\n\n# FORMATO DE SALIDA (OBLIGATORIO)\nDebes responder ÚNICAMENTE con un objeto JSON válido. No añadas texto antes ni después del JSON. No uses bloques de código markdown (```json).\n\nEstructura del JSON:\n{\n  \"mensaje_original\": \"{{ $('Entrada Mensaje').item.json.body.entry[0].messaging[0].message.text }}\",\n  \"categoria\": \"una_de_las_4_categorias_exactas\",\n  \"razon\": \"Breve explicación de 5 palabras de por qué elegiste esa categoría\"\n} \n"
            },
            {
              "content": "={{ $('Entrada Mensaje').item.json.body.entry[0].messaging[0].message.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        288,
        -32
      ],
      "id": "b280724f-3426-40bb-a9f8-01d5cbc5a04b",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "oA6THKJAOrrLFbwX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        -32
      ],
      "id": "45cbbab2-59c9-4a42-b485-0e5049cdb093",
      "name": "Categoria"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1552,
        -144
      ],
      "id": "0be9bace-47cb-403a-9d10-8a917630cf60",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-30T17:00:23.197Z",
      "createdAt": "2025-11-30T17:00:23.197Z",
      "role": "workflow:owner",
      "workflowId": "wTRJXo4w4Lv6SSfM",
      "projectId": "u2lnFFYk1yGEaOcS"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-11T00:08:51.000Z",
  "versionId": "0115b866-c225-43af-b7f6-097786e6ff15"
}