workflows/Md-INSTAGRAM.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busqueda en memoria": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir en memoria": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Busqueda en memoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Añadir en memoria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comenzados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-30T17:00:23.179Z",
  "id": "wTRJXo4w4Lv6SSfM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Md-INSTAGRAM",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "instagram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -368,
        -192
      ],
      "id": "c309717b-5331-498e-8635-5b124beae7fb",
      "name": "Webhook",
      "webhookId": "189d8362-740e-4e45-a95e-d95c6b91055a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json[\"query\"][\"hub.challenge\"]}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -160,
        -336
      ],
      "id": "f53d36de-0f92-4ba4-b946-f7296da3b672",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{$json[\"body\"][\"entry\"][0][\"messaging\"][0][\"sender\"][\"id\"]}}/?fields=id,name,profile_pic&access_token=EAAPxpYsEr04BQCVdPfsApj1FrFb5a3Lvmuz1fV7RFqVMwHxnAkuIRjctz67DBRcbpwN0Vor0QBw2on9wAmNPFNfjrz4PySuJL77W9h6TtURHv6dvSZBY9JJKTebiemzpOTKM3egGCrlT86xuPATAalD9e3umoQ5zwNAxxxFBakZARAeEWKVfsCOT3GrlNNMnDL5SPbakOakR8yOBtJ4OpfwklzjokHKmpbXxH9McPlbDQI8i7skcd1VqO2CXvC6tZAPJN95Rt0Iqi5TPOkM",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        304
      ],
      "id": "dd7805bb-b2df-4bd6-849d-944d999f42ad",
      "name": "IG - Datos usuario"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ef9e4c5-1330-4eb0-8217-73a4acfe042f",
              "name": "URL",
              "value": "=https://business.facebook.com/latest/inbox/all/?asset_id=894925823708082&business_id=1176769843952048&selected_item_id={{$json[\"body\"][\"entry\"][0][\"messaging\"][0][\"sender\"][\"id\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        32
      ],
      "id": "311d264c-fc82-4d53-8202-e29025b44890",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        32
      ],
      "id": "d627c40e-5f30-4dc0-9ed4-8a5c9972fc97",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Devuelve exactamente el mismo JSON que te llega desde el webhook\nreturn [\n  {\n    json: {\n      \"headers\": {\n        \"host\": \"n8n.silvasju.com\",\n        \"user-agent\": \"facebookexternalua\",\n        \"content-length\": \"396\",\n        \"accept\": \"*/*\",\n        \"accept-encoding\": \"gzip, br\",\n        \"cdn-loop\": \"cloudflare; loops=1\",\n        \"cf-connecting-ip\": \"2a03:2880:3ff:1::\",\n        \"cf-ipcountry\": \"US\",\n        \"cf-ray\": \"9ab7cbc2fc77cf1a-SJC\",\n        \"cf-visitor\": \"{\\\"scheme\\\":\\\"https\\\"}\",\n        \"cf-warp-tag-id\": \"f34171ea-87d5-492e-8a9c-2241c043f648\",\n        \"connection\": \"keep-alive\",\n        \"content-type\": \"application/json\",\n        \"instagram-api-version\": \"v23.0\",\n        \"x-forwarded-for\": \"2a03:2880:3ff:1::\",\n        \"x-forwarded-proto\": \"https\",\n        \"x-hub-signature\": \"sha1=4e00be9c493581566750f589aa5d6486c13aa3f0\",\n        \"x-hub-signature-256\": \"sha256=01caf38a69bf6efa2a60785b35adc9349a220654b2449db259693ec90ca107a2\"\n      },\n      \"params\": {},\n      \"query\": {},\n      \"body\": {\n        \"object\": \"instagram\",\n        \"entry\": [\n          {\n            \"time\": 1765317842164,\n            \"id\": \"17841478493404551\",\n            \"messaging\": [\n              {\n                \"sender\": {\n                  \"id\": \"157959033175269\"\n                },\n                \"recipient\": {\n                  \"id\": \"17841478493404551\"\n                },\n                \"timestamp\": 1765317840361,\n                \"message\": {\n                  \"mid\": \"aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDc4NDkzNDA0NTUxOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjAzNjYxNTIyOTYzNjMyMTozMjU2NDM2NjQwOTkwMjI4MTMyMjI1OTc3OTc2ODI4NzIzMgZDZD\",\n                  \"text\": \"Holaa\"\n                }\n              }\n            ]\n          }\n        ]\n      },\n      \"webhookUrl\": \"https://n8n.silvasju.com/webhook/instagram-webhook\",\n      \"executionMode\": \"production\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        32
      ],
      "id": "5831b4de-bb36-4c24-b34b-a4d18fcb84f6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appK1cou0KtJUHCWv",
          "mode": "list",
          "cachedResultName": "N8N-MD-IG",
          "cachedResultUrl": "https://airtable.com/appK1cou0KtJUHCWv"
        },
        "table": {
          "__rl": true,
          "value": "tblJSmpz7praxoMiJ",
          "mode": "list",
          "cachedResultName": "MEMORIA",
          "cachedResultUrl": "https://airtable.com/appK1cou0KtJUHCWv/tblJSmpz7praxoMiJ"
        },
        "filterByFormula": "={Sender_ID} = '{{ $('Code in JavaScript').item.json.body.entry[0].messaging[0].sender.id }}'",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        288,
        32
      ],
      "id": "804a2a77-75d5-4c58-a52e-5e7eab5508e8",
      "name": "Busqueda en memoria",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appK1cou0KtJUHCWv",
          "mode": "list",
          "cachedResultName": "N8N-MD-IG",
          "cachedResultUrl": "https://airtable.com/appK1cou0KtJUHCWv"
        },
        "table": {
          "__rl": true,
          "value": "tblJSmpz7praxoMiJ",
          "mode": "list",
          "cachedResultName": "MEMORIA",
          "cachedResultUrl": "https://airtable.com/appK1cou0KtJUHCWv/tblJSmpz7praxoMiJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender_ID": "={{ $('Code in JavaScript').item.json.body.entry[0].messaging[0].sender }}",
            "Fecha Ultimo Mensaje": "={{ $now.toFormat(\"dd/LL/yyyy HH:mm:ss\") }}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sender_ID",
              "displayName": "Sender_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha Ultimo Mensaje",
              "displayName": "Fecha Ultimo Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        944,
        -96
      ],
      "id": "7a338d63-b127-428e-95cb-e698d1e4cbf4",
      "name": "Añadir en memoria",
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bd65d18-0d6f-40e7-bb70-7d58786ceaee",
              "name": "Estado_Usuario",
              "value": "={{ $json[\"id\"] ? \"Comenzado\" : \"nuevo\" }}",
              "type": "string"
            },
            {
              "id": "3743234d-e53b-46c1-a73a-7054566885bf",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        32
      ],
      "id": "703916bf-0c73-4001-bea2-05fce3d6c5e6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1cade2a-6414-4e05-9eec-8df7312f3c73",
              "leftValue": "={{ $json.Estado_Usuario }}",
              "rightValue": "Nuevo",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f456deb0-b798-43fe-a1e5-401c1c994489",
              "leftValue": "={{ $json.Estado_Usuario }}",
              "rightValue": "Comenzado",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        32
      ],
      "id": "7431c5da-2a7f-4031-86e5-9929aec4aad5",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appK1cou0KtJUHCWv",
          "mode": "list",
          "cachedResultName": "N8N-MD-IG",
          "cachedResultUrl": "https://airtable.com/appK1cou0KtJUHCWv"
        },
        "table": {
          "__rl": true,
          "value": "tblUWL9ciJt6qeUmL",
          "mode": "list",
          "cachedResultName": "Chat Comenzados",
          "cachedResultUrl": "https://airtable.com/appK1cou0KtJUHCWv/tblUWL9ciJt6qeUmL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender ID": "={{ $('Code in JavaScript').item.json.body.entry[0].messaging[0].sender }}",
            "Mensaje": "={{ $('Code in JavaScript').item.json.body.entry[0].messaging[0].message.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sender ID",
              "displayName": "Sender ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Acceso conversación",
              "displayName": "Acceso conversación",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        176
      ],
      "id": "db865f03-a8bc-449b-9d73-0485365c07ac",
      "name": "Comenzados",
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-30T17:00:23.197Z",
      "createdAt": "2025-11-30T17:00:23.197Z",
      "role": "workflow:owner",
      "workflowId": "wTRJXo4w4Lv6SSfM",
      "projectId": "u2lnFFYk1yGEaOcS"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-10T00:28:43.000Z",
  "versionId": "73ac2fb5-120c-48f7-aaad-5c53fc300e61"
}