workflows/Md-INSTAGRAM.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IG - Datos usuario",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-11-30T17:00:23.179Z",
  "id": "wTRJXo4w4Lv6SSfM",
  "isArchived": false,
  "meta": null,
  "name": "Md-INSTAGRAM",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "instagram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c309717b-5331-498e-8635-5b124beae7fb",
      "name": "Webhook",
      "webhookId": "189d8362-740e-4e45-a95e-d95c6b91055a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json[\"query\"][\"hub.challenge\"]}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        272,
        -112
      ],
      "id": "f53d36de-0f92-4ba4-b946-f7296da3b672",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{$json[\"body\"][\"entry\"][0][\"changes\"][0][\"value\"][\"sender\"][\"id\"]}}?fields=id,name,profile_pic&access_token=EAAPxpYsEr04BQERLsIPhFf13oqOqJ3mqDNeM4RTxCh2UDfF6dnSJvZAZBuj4nXl2yNIUOblBzpDZBhJrUNadrVxOonvyZCT6dZC4tymUq90fx4YPDyR1XREIm0cO9haGZBYaS6rTzA8XJqCpwYhh0vm58LFewtBEYgXtxFqbTwqHmRp7TGM3sApIbok1lZCF3HK4CnZBaMvnezdGW4SRZBhjDb1xpurdmNAZAvk8YZB9gsgEW4EO010WiPggVq4xnwv5kZCNoZBfTWIBFRUhiYD1PescVYhUZD\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        64
      ],
      "id": "dd7805bb-b2df-4bd6-849d-944d999f42ad",
      "name": "IG - Datos usuario"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-30T17:00:23.197Z",
      "createdAt": "2025-11-30T17:00:23.197Z",
      "role": "workflow:owner",
      "workflowId": "wTRJXo4w4Lv6SSfM",
      "projectId": "u2lnFFYk1yGEaOcS"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-09T00:54:50.000Z",
  "versionId": "e9ca2a39-feec-4365-af52-2f76e71675ae"
}