workflows/My workflow.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "FIN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Diferent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "New",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Same": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diferent": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FIN": {
      "main": [
        []
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-26T15:30:36.637Z",
  "id": "GkrUZfZx2ZcgBb27",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -64
      ],
      "id": "b0e8795f-e33b-4696-b0cd-cdfd9523710d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        128
      ],
      "id": "250829c6-5653-41a3-b1a3-194a294c349e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        672,
        32
      ],
      "id": "a041c5d8-535e-4b96-9ca1-1794414672e1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1184,
        32
      ],
      "id": "c099a5df-8a87-4026-abff-0f37bdf4864c",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n};\n\nconst allInputs = $input.all();\n\n// 0 = Github (resultado de Get a file)\n// 1 = Workflow actual de n8n\nconst githubItem = allInputs[0];\nconst n8nItem = allInputs[1];\n\nconst gh = githubItem.json;\nconst n8nWorkflow = n8nItem.json;\n\n// Ordenamos el workflow actual\nconst orderedActual = orderJsonKeys(n8nWorkflow);\n\n// 1) Caso: archivo NO existe (404)\nconst httpCode = gh.error?.errorDetails?.httpCode;\nif (httpCode === '404') {\n  gh.github_status = 'new';                  // no existe\n  gh.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  return [githubItem];\n}\n\n// 2) Caso: archivo existe y viene con \"content\" (GitHub OK)\nif (gh.content) {\n  const origWorkflow = JSON.parse(\n    Buffer.from(gh.content, 'base64').toString('utf8')\n  );\n\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    gh.github_status = 'same';               // existe y es igual\n  } else {\n    gh.github_status = 'different';          // existe y es distinto\n    gh.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n\n  gh.content_decoded = orderedOriginal;\n  return [githubItem];\n}\n\n// 3) Fallback: cualquier otro caso raro → lo tratamos como \"nuevo\"\ngh.github_status = 'new';\ngh.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\nreturn [githubItem];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        32
      ],
      "id": "64fbe355-09bb-4501-950c-aa7c2b173c81",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "same",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5a1f0ea9-7eea-49a6-a9b2-cbb5090228a5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e657f72-ac9e-4cee-aac4-77bcc4b6f2d4",
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "different",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e66b4074-9808-4594-8291-0322d3f7f58c",
                    "leftValue": "={{ $json.github_status }}",
                    "rightValue": "new",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1648,
        32
      ],
      "id": "a6584469-fa3f-49fe-a992-26c4834024aa",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Same",
      "typeVersion": 1,
      "position": [
        1888,
        -160
      ],
      "id": "ae495e64-8548-4672-88b9-73c0fd1c3d84"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Diferent",
      "typeVersion": 1,
      "position": [
        1936,
        48
      ],
      "id": "30565fa7-150d-4f27-ab61-a3ac54933406"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "New",
      "typeVersion": 1,
      "position": [
        1920,
        256
      ],
      "id": "37906316-5925-4310-8d13-6e1e7de4802f"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{$node['Variables'].json['repo']['owner']}}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": ".",
          "mode": "name"
        },
        "filePath": ".",
        "fileContent": ".",
        "commitMessage": "."
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2144,
        48
      ],
      "id": "448ff3bc-bf21-46af-878e-90231efe17d3",
      "name": "Edit a file",
      "webhookId": "12b75855-980e-4d01-9061-f0911be804cf",
      "credentials": {
        "githubApi": {
          "id": "Fw0Am5HLUOcL9AwI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Variables').item.json.repo.name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Variables').item.json.repo.path }}{{ $('Get many workflows').item.json.name }}.json",
        "fileContent": "={{ $('Code in JavaScript').item.json.n8n_data_stringy }}",
        "commitMessage": "=[n8n backup]  {{ $('Loop Over Items').item.json.name }}.json ({{ $('Code in JavaScript').item.json.github_status }})"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2160,
        256
      ],
      "id": "26340405-0c92-4865-864b-85fca37d033e",
      "name": "Create a file",
      "webhookId": "fbf4390d-6d28-43bd-9225-196bb6c4677d",
      "credentials": {
        "githubApi": {
          "id": "Fw0Am5HLUOcL9AwI",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        448,
        32
      ],
      "id": "9bb5eef2-5259-43ba-a9eb-6d7dd3cedd0d",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "92qxZJmoTFvoPei1",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0fad980-b741-47f9-821c-f463f593a66e",
              "name": "repo.owner",
              "value": "silvasJu",
              "type": "string"
            },
            {
              "id": "a287679c-ca9c-404e-a730-8f1e2f756664",
              "name": "repo.name",
              "value": "SERVER",
              "type": "string"
            },
            {
              "id": "64eb246f-c1d2-4fc5-956c-0276b9afdb2c",
              "name": "repo.path",
              "value": "workflows/",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        32
      ],
      "id": "a2101760-b0a2-47df-b62a-363caf0f898e",
      "name": "Variables"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "FIN",
      "typeVersion": 1,
      "position": [
        848,
        -272
      ],
      "id": "cd87fa57-ffd0-402c-a90c-cff7c9323f46"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{$node['Variables'].json['repo']['owner']}}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{$node['Variables'].json['repo']['name'] }}"
        },
        "filePath": "={{ $('Variables').item.json.repo.path }}{{ $json.name }}.json\n",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        912,
        -128
      ],
      "id": "ac9d1b30-df72-4ae5-9594-4ce6ee9b128d",
      "name": "Get a file",
      "webhookId": "629fb2e7-a2c2-413c-9b6d-282698e808ae",
      "alwaysOutputData": false,
      "credentials": {
        "githubApi": {
          "id": "Fw0Am5HLUOcL9AwI",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-26T15:30:36.653Z",
      "updatedAt": "2025-11-26T15:30:36.653Z",
      "role": "workflow:owner",
      "workflowId": "GkrUZfZx2ZcgBb27",
      "projectId": "u2lnFFYk1yGEaOcS"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-27T16:07:29.000Z",
  "versionId": "264468e1-867a-483f-a25c-67a0c3b40e90"
}