workflows/ORGANIZADOR-MD-IG (PRUEBA 1).json
{
  "active": false,
  "connections": {
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Categoria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear o actualizar usuario": {
      "main": [
        [
          {
            "node": "Añadir a memoria",
            "type": "main",
            "index": 0
          },
          {
            "node": "Añadir mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recoger comentarios": {
      "main": [
        []
      ]
    },
    "Webhook3": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Concentrar items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or update a record": {
      "main": [
        []
      ]
    },
    "Concentrar items": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir a memoria": {
      "main": [
        []
      ]
    },
    "URL": {
      "main": [
        [
          {
            "node": "Crear o actualizar usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Categoria": {
      "main": [
        [
          {
            "node": "URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-11T22:46:05.480Z",
  "id": "NUKXmIo4PBgGU8d7",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ORGANIZADOR-MD-IG (PRUEBA 1)",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{$json[\"query\"][\"hub.challenge\"]}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -304,
        -384
      ],
      "id": "94eba674-bb95-4748-99ba-ef6d273bb174",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        352
      ],
      "id": "43560b5b-307d-4494-95c7-791bec70fab9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=\\# ROL\n\nEres un moderador y clasificador experto de mensajes directos (DMs) para una cuenta profesional de Instagram. Tu única función es analizar el texto entrante, detectar la intención y el tono palabra por palabra, y categorizarlo estrictamente en una de las 4 categorías definidas. Tienes una \"MEMORIA\" con mensajes y sus categorías.\n\n\n# CATEGORÍAS (Explicadas al detalle)\n\n1. \"Insulto o sexual\":\n   - Asigna esta categoría si el mensaje contiene insultos, palabras obscenas, agresividad, odio, racismo, sexismo o una falta clara de educación y respeto.\n   - Incluso si es una propuesta de trabajo, si el lenguaje es insultante, prima esta categoría.\n\n2. \"Negocio\":\n   - Asigna esta categoría si el usuario propone servicios profesionales, colaboraciones laborales, edición de fotos/videos, servicios de IA, agencias de marketing o cualquier transacción comercial profesional.\n\n3. \"Conversacional\":\n   - Si hablan de algun tema entretenido o preguntan algo que sea interesande de responder.\n\n4. \"Sin sustancia\":\n   - Mensajes que no sirven para nada como saludos, cosas sin coerencia, que solo manden emojis, etc.\n\n5. \"Actividad\":\n   - \n\n# INSTRUCCIONES DE ANÁLISIS\n1. Lee el mensaje completo.\n2. Analiza palabra por palabra buscando palabras clave (ej: \"tonto\" -> Insulto o sexual, \"editar\" -> Negocio, \"tema entretenido\" -> Conversacional, \"ok\" -> Sin sustancia).\n3. Analiza el contexto semántico (ej: \"¿Qué tal?\" es Sin sustancia, pero \"¿Qué tal editas me harias algun video?\" es Negocio).\n4. Si un mensaje parece encajar en dos categorías, prioriza en este orden: Insulto o sexual > Sin sustancia > Conversacional > Negocio.\n\n#EJEMPLOS DE MEMORIA\n\n{{ $json.mensajes }}\n\n\n# FORMATO DE SALIDA (OBLIGATORIO)\nDebes responder ÚNICAMENTE con un objeto JSON válido. No añadas texto antes ni después del JSON. No uses bloques de código markdown (```json).\n\nEstructura del JSON:\n{\n  \"mensaje_original\": \"{{ $('Webhook').first().json.body.entry[0].messaging[0].message.text }}\",\n  \"categoria\": \"una_de_las_4_categorias_exactas\",\n  \"razon\": \"Breve explicación de 5 palabras de por qué elegiste esa categoría\"\n} \n\nIMPORTANTE: Responde SOLO con el JSON final, sin comillas alrededor, sin texto extra, sin explicaciones, sin arrays, sin campos \"output\", sin \"content\", sin \"text\".\nTu respuesta debe empezar por \"{\" y terminar por \"}\".\n"
            },
            {
              "content": "={{ $('Webhook').first().json.body.entry[0].messaging[0].message.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        144,
        -192
      ],
      "id": "849dd444-1144-4cf8-adee-9e15ca8b8119",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "oA6THKJAOrrLFbwX",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "apprpSC38jBuMpvty",
          "mode": "list",
          "cachedResultName": "tablas (1).csv",
          "cachedResultUrl": "https://airtable.com/apprpSC38jBuMpvty"
        },
        "table": {
          "__rl": true,
          "value": "tblP97YGAOBLeTlkO",
          "mode": "list",
          "cachedResultName": "DB_USUARIOS.csv",
          "cachedResultUrl": "https://airtable.com/apprpSC38jBuMpvty/tblP97YGAOBLeTlkO"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha_Ultima_Interaccion": "={{ $now.setZone(\"Europe/Madrid\").toFormat(\"dd/LL/yyyy HH:mm:ss\") }}",
            "Sender_ID": "={{ $('Webhook').first().json.body.entry[0].messaging[0].sender.id }}",
            "Ultimo mensaje": "={{ $('Webhook').first().json.body.entry[0].messaging[0].message.text }}",
            "Ultima categoria": "={{ $('Categoria').item.json.categoria }}",
            "URL Conversacion": "={{ $('URL').item.json.URL }}"
          },
          "matchingColumns": [
            "Sender_ID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Sender_ID",
              "displayName": "Sender_ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Persona o dato",
              "displayName": "Persona o dato",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado_CRM",
              "displayName": "Estado_CRM",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nuevo",
                  "value": "Nuevo"
                },
                {
                  "name": "Seguidor",
                  "value": "Seguidor"
                },
                {
                  "name": "Amigo",
                  "value": "Amigo"
                },
                {
                  "name": "IGNORAR",
                  "value": "IGNORAR"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Mensajes pendientes",
              "displayName": "Mensajes pendientes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Ultimo mensaje",
              "displayName": "Ultimo mensaje",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ultima categoria",
              "displayName": "Ultima categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Sin sustancia",
                  "value": "Sin sustancia"
                },
                {
                  "name": "Negocio",
                  "value": "Negocio"
                },
                {
                  "name": "Conversacional",
                  "value": "Conversacional"
                },
                {
                  "name": "Insulto o sexual",
                  "value": "Insulto o sexual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensajes",
              "displayName": "Mensajes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha_Ultima_Interaccion",
              "displayName": "Fecha_Ultima_Interaccion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL Conversacion",
              "displayName": "URL Conversacion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Responder",
              "displayName": "Responder",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        944,
        -192
      ],
      "id": "686f09a5-7444-4e79-acf1-d3431cdffe27",
      "name": "Crear o actualizar usuario",
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "value": "apprpSC38jBuMpvty",
          "mode": "list",
          "cachedResultName": "tablas (1).csv",
          "cachedResultUrl": "https://airtable.com/apprpSC38jBuMpvty"
        },
        "table": {
          "__rl": true,
          "value": "tblfNlKOd20bzd0z0",
          "mode": "list",
          "cachedResultName": "MEMORIA_IG",
          "cachedResultUrl": "https://airtable.com/apprpSC38jBuMpvty/tblfNlKOd20bzd0z0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -528,
        -608
      ],
      "id": "d8d9aebc-aa41-4439-bb81-e4887ee45743",
      "name": "Recoger comentarios",
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Devuelve exactamente el mismo JSON que te llega desde el webhook\nreturn [\n  {\n    \"headers\": {\n      \"host\": \"n8n.silvasju.com\",\n      \"x-real-ip\": \"127.0.0.1\",\n      \"x-forwarded-for\": \"2a03:2880:3ff:4::, 127.0.0.1\",\n      \"x-forwarded-proto\": \"http\",\n      \"connection\": \"close\",\n      \"content-length\": \"446\",\n      \"user-agent\": \"facebookexternalua\",\n      \"accept\": \"*/*\",\n      \"accept-encoding\": \"gzip, br\",\n      \"cdn-loop\": \"cloudflare; loops=1\",\n      \"cf-connecting-ip\": \"2a03:2880:3ff:4::\",\n      \"cf-ipcountry\": \"US\",\n      \"cf-ray\": \"9ad128987e1d2a0c-SJC\",\n      \"cf-visitor\": \"{\\\"scheme\\\":\\\"https\\\"}\",\n      \"cf-warp-tag-id\": \"527e4270-1fd3-4cd0-aa15-51fd5162eb99\",\n      \"content-type\": \"application/json\",\n      \"instagram-api-version\": \"v23.0\",\n      \"x-hub-signature\": \"sha1=da5ef073ec4ac0fa000a6e25a824cbd243385f6f\",\n      \"x-hub-signature-256\": \"sha256=0e1413926d996f76de44282e8e6017a1a0a07d3366ae35d09fab5478b398051e\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"object\": \"instagram\",\n      \"entry\": [\n        {\n          \"time\": 1765583788722,\n          \"id\": \"17841478493404551\",\n          \"messaging\": [\n            {\n              \"sender\": {\n                \"id\": \"1167048252308115\"\n              },\n              \"recipient\": {\n                \"id\": \"17841478493404551\"\n              },\n              \"timestamp\": 1765583787798,\n              \"message\": {\n                \"mid\": \"aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDc4NDkzNDA0NTUxOjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI1OTk2Njc2MTE4OTMwMTU4NzozMjU2OTI3MjI3NDIwMzM3MDUzMDEyMTI2NTUwOTgyNjU2MAZDZD\",\n                \"text\": \"Hola cómo estás, haces videos personalizados?\"\n              }\n            }\n          ]\n        }\n      ]\n    },\n    \"webhookUrl\": \"https://n8n.silvasju.com/webhook/instagram-webhook\",\n    \"executionMode\": \"production\"\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        352
      ],
      "id": "27e1a5f5-21cf-4ae1-a45b-3448a775dd1d",
      "name": "Webhook3"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "instagram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        -288
      ],
      "id": "cb346dd7-49c1-4d8a-bd6e-773cc1853270",
      "name": "Webhook",
      "webhookId": "3b201586-d60f-4ae1-a546-d31e7024193b"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apprpSC38jBuMpvty",
          "mode": "list",
          "cachedResultName": "tablas (1).csv",
          "cachedResultUrl": "https://airtable.com/apprpSC38jBuMpvty"
        },
        "table": {
          "__rl": true,
          "value": "tblfNlKOd20bzd0z0",
          "mode": "list",
          "cachedResultName": "MEMORIA_IG",
          "cachedResultUrl": "https://airtable.com/apprpSC38jBuMpvty/tblfNlKOd20bzd0z0"
        },
        "filterByFormula": "=",
        "returnAll": false,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -304,
        -192
      ],
      "id": "63787a41-1d30-4bcb-a392-b630b21824fb",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "apprpSC38jBuMpvty",
          "mode": "list",
          "cachedResultName": "tablas (1).csv",
          "cachedResultUrl": "https://airtable.com/apprpSC38jBuMpvty"
        },
        "table": {
          "__rl": true,
          "value": "tblfNlKOd20bzd0z0",
          "mode": "list",
          "cachedResultName": "MEMORIA_IG",
          "cachedResultUrl": "https://airtable.com/apprpSC38jBuMpvty/tblfNlKOd20bzd0z0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mensaje_Texto": "={{ $json.Memoria }}"
          },
          "matchingColumns": [
            "Mensaje_Texto"
          ],
          "schema": [
            {
              "id": "Mensaje_Texto",
              "displayName": "Mensaje_Texto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Negocio  ",
                  "value": "Negocio  "
                },
                {
                  "name": "Actividad",
                  "value": "Actividad"
                },
                {
                  "name": "Conversacional",
                  "value": "Conversacional"
                },
                {
                  "name": "Sin sustancia",
                  "value": "Sin sustancia"
                },
                {
                  "name": "Insulto o sexual",
                  "value": "Insulto o sexual"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -528,
        128
      ],
      "id": "82a1c190-0dcd-4912-b705-aa2bf6366fc8",
      "name": "Create or update a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mensajes = items.map(item => ({\n  Mensaje_Texto: item.json.Mensaje_Texto,\n  Categoria: item.json.Categoria\n}));\n\nreturn [\n  {\n    json: {\n      total_mensajes: mensajes.length,\n      mensajes: mensajes\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        -192
      ],
      "id": "33afee59-7de6-4e1e-b13e-41702d4ea703",
      "name": "Concentrar items"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apprpSC38jBuMpvty",
          "mode": "list",
          "cachedResultName": "tablas (1).csv",
          "cachedResultUrl": "https://airtable.com/apprpSC38jBuMpvty"
        },
        "table": {
          "__rl": true,
          "value": "tblfNlKOd20bzd0z0",
          "mode": "list",
          "cachedResultName": "MEMORIA_IG",
          "cachedResultUrl": "https://airtable.com/apprpSC38jBuMpvty/tblfNlKOd20bzd0z0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Categoria": "={{ $('URL').item.json.Categoria }}",
            "Mensaje_Texto": "={{ $('Webhook').first().json.body.entry[0].messaging[0].message.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Mensaje_Texto",
              "displayName": "Mensaje_Texto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Negocio  ",
                  "value": "Negocio  "
                },
                {
                  "name": "Actividad",
                  "value": "Actividad"
                },
                {
                  "name": "Conversacional",
                  "value": "Conversacional"
                },
                {
                  "name": "Sin sustancia",
                  "value": "Sin sustancia"
                },
                {
                  "name": "Insulto o sexual",
                  "value": "Insulto o sexual"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1168,
        -288
      ],
      "id": "1670d308-19f5-4797-9796-4bb51c773bef",
      "name": "Añadir a memoria",
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "apprpSC38jBuMpvty",
          "mode": "list",
          "cachedResultName": "tablas (1).csv",
          "cachedResultUrl": "https://airtable.com/apprpSC38jBuMpvty"
        },
        "table": {
          "__rl": true,
          "value": "tbl8gQqFk3EaoL85r",
          "mode": "list",
          "cachedResultName": "DB_MENSAJES.csv",
          "cachedResultUrl": "https://airtable.com/apprpSC38jBuMpvty/tbl8gQqFk3EaoL85r"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Mensaje_Texto": "={{ $('Webhook').first().json.body.entry[0].messaging[0].message.text }}",
            "Categoria": "={{ $('Categoria').item.json.categoria }}",
            "Estado_Respuesta": "Pendiente",
            "URL_Conversacion": "={{ $('URL').item.json.URL }}",
            "Fecha_Entrada": "={{ $now.setZone(\"Europe/Madrid\").toFormat(\"dd/LL/yyyy HH:mm:ss\") }}",
            "Link_Usuario": "={{ $('Crear o actualizar usuario').item.json.id }}",
            "ID_Mensaje (mid instagram)": "={{ $('Webhook').first().json.body.entry[0].messaging[0].message.mid }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "ID_Mensaje (mid instagram)",
              "displayName": "ID_Mensaje (mid instagram)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mensaje_Texto",
              "displayName": "Mensaje_Texto",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Responder1",
              "displayName": "Responder1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Link_Usuario",
              "displayName": "Link_Usuario",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [
                {
                  "name": "Negocio",
                  "value": "Negocio"
                },
                {
                  "name": "Actividad",
                  "value": "Actividad"
                },
                {
                  "name": "Conversacional",
                  "value": "Conversacional"
                },
                {
                  "name": "Sin sustancia",
                  "value": "Sin sustancia"
                },
                {
                  "name": "Insulto o sexual",
                  "value": "Insulto o sexual"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado_Respuesta",
              "displayName": "Estado_Respuesta",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Respondido",
                  "value": "Respondido"
                },
                {
                  "name": "IGNORAR",
                  "value": "IGNORAR"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha_Entrada",
              "displayName": "Fecha_Entrada",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL_Conversacion",
              "displayName": "URL_Conversacion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "IGNORAR",
              "displayName": "IGNORAR",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "IGNORAR",
                  "value": "IGNORAR"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "EsPendiente",
              "displayName": "EsPendiente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1168,
        -96
      ],
      "id": "1077fd6d-d6a9-4c74-ab99-0bbf0fb2ebcd",
      "name": "Añadir mensaje",
      "credentials": {
        "airtableTokenApi": {
          "id": "voWYyEgk8WCrlWD0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8ef9e4c5-1330-4eb0-8217-73a4acfe042f",
              "name": "URL",
              "value": "=https://business.facebook.com/latest/inbox/all/?asset_id=894925823708082&business_id=1176769843952048&selected_item_id={{ $('Webhook').first().json.body.entry[0].messaging[0].sender.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -192
      ],
      "id": "a249be82-337a-443b-aea6-abdc15056223",
      "name": "URL"
    },
    {
      "parameters": {
        "jsCode": "// Extraemos el texto que devuelve ChatGPT\nconst rawText = $json.output[0].content[0].text;\n\n// Convertimos el string JSON en objeto real\nconst parsed = JSON.parse(rawText);\n\n// Devolvemos el JSON limpio\nreturn [\n  {\n    json: parsed\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        -192
      ],
      "id": "ee612738-ac40-4bd7-8661-15022f904f8b",
      "name": "Categoria"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09fa74d2-6c3e-476d-9290-2822811485cc",
              "name": "URL",
              "value": "https://business.facebook.com/latest/inbox/all/?asset_id=894925823708082&business_id=1176769843952048&selected_item_id=340282366841710301244276022486342703423&mailbox_id=894925823708082&thread_type=IG_MESSAGE",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        48
      ],
      "id": "2000d19f-77d3-49a3-a453-0f3169b650e3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v23.0/{{ $json.body.entry[0].id }}/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "platform",
              "value": "instagram"
            },
            {
              "name": "fields",
              "value": "id,participants,updated_time"
            },
            {
              "name": "access_token",
              "value": "08caab1981f05e3eeb21e3b5602378c8"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        -480
      ],
      "id": "3292d564-ed4f-469d-9ed0-72e2f27a41dd",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-11T22:46:05.486Z",
      "createdAt": "2025-12-11T22:46:05.486Z",
      "role": "workflow:owner",
      "workflowId": "NUKXmIo4PBgGU8d7",
      "projectId": "u2lnFFYk1yGEaOcS"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-07T04:58:32.000Z",
  "versionId": "69a57b08-c23a-4208-9b38-e5028384e998"
}